.version.como_comprar_un_auto /* version checker */
{
	color: #000009;
	background-color: #8E6803;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 1833px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 10px;
	width: 0.01px;
}

#u82
{
	z-index: 2;
	min-height: 47px;
	padding-bottom: 5px;
}

#u143
{
	z-index: 14;
	width: 33px;
	height: 36px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 22px;
}

#u83
{
	z-index: 3;
	width: 36px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 78px;
}

#u141-4
{
	z-index: 24;
	width: 88px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 122px;
}

#u138-4
{
	z-index: 20;
	width: 390px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 307px;
}

#u104
{
	z-index: 11;
	width: 48px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 731px;
}

#u94
{
	z-index: 7;
	width: 71px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 811px;
}

#u89
{
	z-index: 5;
	width: 72px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 913px;
}

#u82-bw
{
	z-index: 2;
	min-height: 47px;
}

#pu99
{
	width: 0.01px;
	margin-left: -85px;
	margin-top: 13px;
}

#u99
{
	z-index: 9;
	width: 280px;
	margin-right: -10000px;
}

#u113
{
	z-index: 13;
	width: 33px;
	height: 36px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 742px;
}

#u113:hover
{
	width: 33px;
	height: 36px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u135-4
{
	z-index: 16;
	width: 80px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 799px;
}

#u135-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 80px;
	margin: 24px -10000px 0px 0px;
}

#pu128
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 7px;
}

#u128_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	left: -100px;
	padding-top: 8px;
	padding-bottom: 19px;
}

#pu188
{
	width: 0.01px;
	left: 27px;
	position: relative;
}

#u188
{
	z-index: 28;
	width: 237px;
	height: 178px;
	margin-right: -10000px;
	margin-top: 4px;
}

#u188:hover
{
	width: 237px;
	height: 178px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u1139
{
	z-index: 214;
	width: 125px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 825px;
	background: transparent url("../images/como-comprar_03.png") no-repeat center center;
}

#u201
{
	z-index: 29;
	width: 237px;
	height: 178px;
	left: 26px;
	margin-top: 19px;
}

#u201:hover
{
	width: 237px;
	height: 178px;
	min-height: 0px;
	margin: 19px 0px 0px;
}

#u214
{
	z-index: 30;
	width: 237px;
	height: 178px;
	left: 26px;
	margin-top: 21px;
}

#u214:hover
{
	width: 237px;
	height: 178px;
	min-height: 0px;
	margin: 21px 0px 0px;
}

#u128,#u128-bw
{
	z-index: 15;
	min-height: 605px;
}

#u1125-88
{
	z-index: 110;
	width: 585px;
	min-height: 1114px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 314px;
}

#u1125-8,#u1125-17,#u1125-19,#u1125-21,#u1125-23
{
	font-weight: 700;
}

#u1125-2,#u1125-3,#u1125-5,#u1125-6,#u1125-9,#u1125-11,#u1125-12,#u1125-14,#u1125-15,#u1125-24,#u1125-26,#u1125-27,#u1125-29,#u1125-30,#u1125-32,#u1125-33,#u1125-35,#u1125-37,#u1125-38,#u1125-40,#u1125-41,#u1125-43,#u1125-45,#u1125-47,#u1125-49,#u1125-50,#u1125-52,#u1125-53,#u1125-55,#u1125-56,#u1125-58,#u1125-60,#u1125-62,#u1125-63,#u1125-65,#u1125-66,#u1125-68,#u1125-70,#u1125-72,#u1125-74,#u1125-75,#u1125-76,#u1125-78,#u1125-79,#u1125-81,#u1125-82,#u1125-84,#u1125-86
{
	font-weight: 400;
}

#u1126
{
	z-index: 198;
	width: 1001px;
	height: 2px;
	background-color: #000000;
	left: -100px;
	margin-top: 1px;
	position: relative;
}

#pu1127-14
{
	width: 0.01px;
	margin-left: 201px;
	margin-top: 11px;
}

#u1127-14
{
	z-index: 199;
	width: 587px;
	min-height: 125px;
	background-color: transparent;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u1128
{
	z-index: 213;
	width: 125px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 554px;
	background: transparent url("../images/como-comprar_03.png") no-repeat center center;
}

#u1139:hover,#u1128:hover
{
	width: 125px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/como-comprar_09.png") no-repeat center center;
}

#pu245
{
	width: 0.01px;
	margin-left: -100px;
}

#u245
{
	z-index: 31;
	min-height: 159px;
	padding-bottom: 41px;
}

#u82_align_to_page,#u245_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	left: -100px;
}

#pu263
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 66px;
	margin-left: 93px;
}

#u263
{
	z-index: 94;
	width: 162px;
}

#u256-4
{
	z-index: 36;
	width: 44px;
	min-height: 22px;
	margin-left: 47px;
	margin-top: 20px;
}

#u252-4
{
	z-index: 32;
	width: 89px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 259px;
}

#u253-4
{
	z-index: 82;
	width: 89px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 433px;
}

#u254-4
{
	z-index: 86;
	width: 89px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 609px;
}

#u255-4
{
	z-index: 90;
	width: 63px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 131px;
	left: 796px;
}

#u313
{
	z-index: 108;
	width: 15px;
	margin-right: -10000px;
	margin-top: 127px;
	left: 962px;
}

#u245-bw
{
	z-index: 31;
	min-height: 159px;
}

#u257-4
{
	z-index: 40;
	width: 108px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 206px;
	left: 100px;
}

#u258-4
{
	z-index: 44;
	width: 181px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 206px;
	left: 272px;
}

#u260-8
{
	z-index: 48;
	width: 253px;
	min-height: 66px;
	margin-right: -10000px;
	margin-top: 191px;
	left: 482px;
}

#u261-6
{
	z-index: 56;
	width: 240px;
	min-height: 49px;
	margin-right: -10000px;
	margin-top: 201px;
	left: 755px;
}

#u262-4
{
	z-index: 62;
	width: 90px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 179px;
	left: 750px;
}

#u284
{
	z-index: 100;
	width: 19px;
	margin-right: -10000px;
	margin-top: 206px;
	left: 460px;
}

#u289
{
	z-index: 102;
	width: 23px;
	margin-right: -10000px;
	margin-top: 205px;
	left: 80px;
}

#u294
{
	z-index: 104;
	width: 25px;
	margin-right: -10000px;
	margin-top: 207px;
	left: 241px;
}

#u311-4
{
	z-index: 74;
	width: 197px;
	min-height: 25px;
	margin-left: 305px;
	margin-top: 25px;
}

#pu305
{
	width: 0.01px;
	margin-left: 278px;
	margin-top: 3px;
}

#u305
{
	z-index: 106;
	width: 71px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u274
{
	z-index: 98;
	width: 45px;
	margin-right: -10000px;
	left: 100px;
}

#u269
{
	z-index: 96;
	width: 72px;
	margin-right: -10000px;
	left: 180px;
}

#pu308-4
{
	width: 0.01px;
	margin-left: -91px;
	margin-top: 22px;
}

#u308-4
{
	z-index: 66;
	width: 324px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u309-4
{
	z-index: 70;
	width: 162px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 412px;
}

#u310-4
{
	z-index: 78;
	width: 249px;
	min-height: 25px;
	margin-right: -10000px;
	left: 728px;
}

body
{
	position: relative;
	min-width: 800px;
}

#page .verticalspacer
{
	clear: both;
}

