.version.detalle_producto /* version checker */
{
	color: #000008;
	background-color: #728533;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 1875.8000000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 10px;
	width: 0.01px;
}

#u82
{
	z-index: 2;
	min-height: 47px;
	padding-bottom: 5px;
}

#u143
{
	z-index: 14;
	width: 33px;
	height: 36px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 22px;
}

#u83
{
	z-index: 3;
	width: 36px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 78px;
}

#u141-4
{
	z-index: 24;
	width: 88px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 122px;
}

#u138-4
{
	z-index: 20;
	width: 390px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 307px;
}

#u104
{
	z-index: 11;
	width: 48px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 731px;
}

#u94
{
	z-index: 7;
	width: 71px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 811px;
}

#u89
{
	z-index: 5;
	width: 72px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 913px;
}

#u82-bw
{
	z-index: 2;
	min-height: 47px;
}

#pu99
{
	width: 0.01px;
	margin-left: -85px;
	margin-top: 13px;
}

#u99
{
	z-index: 9;
	width: 280px;
	margin-right: -10000px;
}

#u113
{
	z-index: 13;
	width: 33px;
	height: 36px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 742px;
}

#u113:hover
{
	width: 33px;
	height: 36px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u135-4
{
	z-index: 16;
	width: 80px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 799px;
}

#u135-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 80px;
	margin: 24px -10000px 0px 0px;
}

#u128
{
	z-index: 15;
	min-height: 605px;
}

#pu188
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 26px;
}

#u188
{
	z-index: 28;
	width: 237px;
	height: 178px;
	margin-left: 1px;
}

#u188:hover
{
	width: 237px;
	height: 178px;
	min-height: 0px;
	margin: 0px 0px 0px 1px;
}

#u201
{
	z-index: 29;
	width: 237px;
	height: 178px;
	margin-top: 19px;
}

#u201:hover
{
	width: 237px;
	height: 178px;
	min-height: 0px;
	margin: 19px 0px 0px;
}

#u214
{
	z-index: 30;
	width: 237px;
	height: 178px;
	margin-top: 21px;
}

#u214:hover
{
	width: 237px;
	height: 178px;
	min-height: 0px;
	margin: 21px 0px 0px;
}

#pu884-10
{
	width: 0.01px;
	margin: 1px -10000px -18px 295px;
}

#u884-10
{
	z-index: 221;
	width: 169px;
	min-height: 71px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	margin-left: 21px;
	position: relative;
}

#u857
{
	z-index: 113;
	width: 702px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.23);
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u857 img{
	max-width: 700px;
	max-height: 350px;
	min-height: 350px;
	min-width: 700px; /*Change*/
    margin: 0 auto;
}

#pu866
{
	width: 0.01px;
	margin-left: 49px;
	margin-top: 10px;
}

#u866
{
	z-index: 115;
	width: 109px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}
#pu866 img{
    max-height: 82px;
    margin: 0 auto;
    /*width : auto;*/
    width: 110px;
    height: 80px;
    max-width: 109px;
}

#u872
{
	z-index: 117;
	width: 109px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u875
{
	z-index: 119;
	width: 109px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 239px;
}

#u878
{
	z-index: 121;
	width: 109px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 359px;
}

#u881
{
	z-index: 123;
	width: 109px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 478px;
}

#u128-bw
{
	z-index: 15;
	min-height: 605px;
	margin-top: 7px;
}

#u1056-4
{
	z-index: 125;
	width: 195px;
	min-height: 23px;
	background-color: transparent;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-top: 65px;
	position: relative;
}

#u1099-10
{
	z-index: 231;
	width: 169px;
	min-height: 71px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	margin-top: 5px;
	position: relative;
}

#u1057
{
	z-index: 110;
	width: 801px;
	background-color: #1D1D1D;
	padding-bottom: 15px;
	left: -2px;
	margin-top: 12px;
	position: relative;
}

#u1075-4
{
	z-index: 193;
	width: 216px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 18px;
}

#u1076-4
{
	z-index: 201;
	width: 281px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 239px;
}

#u1077-4
{
	z-index: 217;
	width: 251px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 546px;
}

#u1058
{
	z-index: 111;
	width: 801px;
	background-color: #7A7F7F;
	padding-bottom: 4px;
	left: -1px;
	margin-top: 9px;
	position: relative;
}

#u1078-4
{
	z-index: 197;
	width: 303px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 20px;
}

#u1079-4
{
	z-index: 205;
	width: 81px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 383px;
}

#u1080-4
{
	z-index: 213;
	width: 81px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 583px;
}

#pu1081-4
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 19px;
}

#u1081-4
{
	z-index: 129;
	width: 350px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1091-4
{
	z-index: 133;
	width: 350px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#pu1082-4
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 3px;
}

#u1082-4
{
	z-index: 137;
	width: 350px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1089-4
{
	z-index: 141;
	width: 350px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#pu1083-4
{
	width: 0.01px;
	margin-left: 41px;
	margin-top: 2px;
}

#u1083-4
{
	z-index: 145;
	width: 350px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 0px;
}

#u1090-4
{
	z-index: 149;
	width: 350px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 365px;
}

#pu1084-4
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 4px;
}

#u1084-4
{
	z-index: 153;
	width: 350px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 20px;
}

#u1092-4
{
	z-index: 157;
	width: 350px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 385px;
}

#pu1085-4
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 3px;
}

#u1085-4
{
	z-index: 161;
	width: 350px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 20px;
}

#u1093-4
{
	z-index: 165;
	width: 350px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 385px;
}

#u1086-4
{
	z-index: 169;
	width: 350px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 20px;
}

#u1094-4
{
	z-index: 173;
	width: 350px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 385px;
}

#pu1086-4,#pu1087-4
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 5px;
}

#u1087-4
{
	z-index: 177;
	width: 350px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 20px;
}

#u1095-4
{
	z-index: 181;
	width: 350px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 385px;
}

#pu1088-4
{
	width: 0.01px;
	margin-left: -2px;
	margin-top: 4px;
}

#u1088-4
{
	z-index: 185;
	width: 350px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 45px;
}

#u1096-4
{
	z-index: 189;
	width: 350px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 410px;
}

#u1097
{
	z-index: 112;
	width: 801px;
	background-color: #7A7F7F;
	padding-bottom: 81px;
	margin-top: 9px;
	position: relative;
}

#u1098-4
{
	z-index: 209;
	width: 775px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 13px;
}

#u1104-4
{
	z-index: 241;
	width: 342px;
	min-height: 28px;
	border-width: 3px;
	border-style: solid;
	border-color: #1D1D1D;
	background-color: transparent;
	border-radius: 24px;
	padding-top: 2px;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
	margin-left: 452px;
	margin-top: 35px;
	position: relative;
}

#u1104-4:hover
{
	background-color: #1D1D1D;
	padding-top: 2px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 342px;
	margin: 35px 0px 0px 452px;
}

#u1104-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu245
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 3px;
}

#u245
{
	z-index: 31;
	min-height: 159px;
	padding-bottom: 41px;
}

#u82_align_to_page,#u128_align_to_page,#u245_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	left: -100px;
}

#pu263
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 66px;
	margin-left: 93px;
}

#u263
{
	z-index: 94;
	width: 162px;
}

#u256-4
{
	z-index: 36;
	width: 44px;
	min-height: 22px;
	margin-left: 47px;
	margin-top: 20px;
}

#u252-4
{
	z-index: 32;
	width: 89px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 259px;
}

#u253-4
{
	z-index: 82;
	width: 89px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 433px;
}

#u254-4
{
	z-index: 86;
	width: 89px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 609px;
}

#u255-4
{
	z-index: 90;
	width: 63px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 131px;
	left: 796px;
}

#u313
{
	z-index: 108;
	width: 15px;
	margin-right: -10000px;
	margin-top: 127px;
	left: 962px;
}

#u245-bw
{
	z-index: 31;
	min-height: 159px;
}

#u257-4
{
	z-index: 40;
	width: 108px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 206px;
	left: 100px;
}

#u258-4
{
	z-index: 44;
	width: 181px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 206px;
	left: 272px;
}

#u260-8
{
	z-index: 48;
	width: 253px;
	min-height: 66px;
	margin-right: -10000px;
	margin-top: 191px;
	left: 482px;
}

#u261-6
{
	z-index: 56;
	width: 240px;
	min-height: 49px;
	margin-right: -10000px;
	margin-top: 201px;
	left: 755px;
}

#u262-4
{
	z-index: 62;
	width: 90px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 179px;
	left: 750px;
}

#u284
{
	z-index: 100;
	width: 19px;
	margin-right: -10000px;
	margin-top: 206px;
	left: 460px;
}

#u289
{
	z-index: 102;
	width: 23px;
	margin-right: -10000px;
	margin-top: 205px;
	left: 80px;
}

#u294
{
	z-index: 104;
	width: 25px;
	margin-right: -10000px;
	margin-top: 207px;
	left: 241px;
}

#u311-4
{
	z-index: 74;
	width: 197px;
	min-height: 25px;
	margin-left: 305px;
	margin-top: 25px;
}

#pu305
{
	width: 0.01px;
	margin-left: 278px;
	margin-top: 3px;
}

#u305
{
	z-index: 106;
	width: 71px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u274
{
	z-index: 98;
	width: 45px;
	margin-right: -10000px;
	left: 100px;
}

#u269
{
	z-index: 96;
	width: 72px;
	margin-right: -10000px;
	left: 180px;
}

#pu308-4
{
	width: 0.01px;
	margin-left: -91px;
	margin-top: 22px;
}

#u308-4
{
	z-index: 66;
	width: 324px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u309-4
{
	z-index: 70;
	width: 162px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 412px;
}

#u310-4
{
	z-index: 78;
	width: 249px;
	min-height: 25px;
	margin-right: -10000px;
	left: 728px;
}

body
{
	position: relative;
	min-width: 800px;
}

#page .verticalspacer
{
	clear: both;
}

