#u135-4
{
	font-family: dosis-n5, sans-serif;
}

#u311-4
{
	font-family: dosis-n5, sans-serif;
}

#u141-4,#u138-4,#u256-4,#u252-4,#u253-4,#u254-4,#u255-4,#u257-4,#u258-4,#u260-8,#u261-6,#u262-4,#u308-4,#u309-4,#u310-4
{
	font-family: dosis-n4, sans-serif;
}

#u767-4,#u787-4,#u777-10,#u768-4,#u788-4,#u776-4,#u796-4,#u781-10,#u771-4,#u791-4,#u778-10,#u782-10,#u769-4,#u789-4,#u772-4,#u792-4,#u774-4,#u794-4,#u779-10,#u783-10,#u785-10,#u770-4,#u790-4,#u773-4,#u793-4,#u775-4,#u795-4,#u780-10,#u784-10,#u786-10
{
	font-family: dosis-n5, sans-serif;
}

