#u135-4
{
	font-family: dosis-n5, sans-serif;
}

#u311-4
{
	font-family: dosis-n5, sans-serif;
}

#u141-4,#u138-4,#u256-4,#u252-4,#u253-4,#u254-4,#u255-4,#u257-4,#u258-4,#u260-8,#u261-6,#u262-4,#u308-4,#u309-4,#u310-4
{
	font-family: dosis-n4, sans-serif;
}

#u884-10,#u1099-10
{
	font-family: dosis-n5, sans-serif;
}

#u1056-4,#u1075-4,#u1076-4,#u1077-4,#u1078-4,#u1079-4,#u1080-4,#u1081-4,#u1091-4,#u1082-4,#u1089-4,#u1083-4,#u1090-4,#u1084-4,#u1092-4,#u1085-4,#u1093-4,#u1086-4,#u1094-4,#u1087-4,#u1095-4,#u1088-4,#u1096-4,#u1098-4
{
	font-family: lato-n7, sans-serif;
}

#u1104-4
{
	font-family: lato-i4, sans-serif;
}

