#u135-4
{
	font-family: dosis-n5, sans-serif;
}

#u311-4
{
	font-family: dosis-n5, sans-serif;
}

#u141-4,#u138-4,#u256-4,#u252-4,#u253-4,#u254-4,#u255-4,#u257-4,#u258-4,#u260-8,#u261-6,#u262-4,#u308-4,#u309-4,#u310-4
{
	font-family: dosis-n4, sans-serif;
}

#u1193-4
{
	font-family: lato-n7, sans-serif;
}

#u1188-4
{
	font-family: lato-n7, sans-serif;
}

#u1184-4
{
	font-family: lato-n7, sans-serif;
}

#u1181-4
{
	font-family: lato-n7, sans-serif;
}

#widgetu1191_input,#widgetu1191_prompt,#widgetu1187_input,#widgetu1187_prompt,#widgetu1182_input,#widgetu1182_prompt,#widgetu1178_input,#widgetu1178_prompt
{
	font-family: lato, sans-serif;
}

#u1254-4,#u1198-4,#u1200-4,#u1199-6,#u1201-4
{
	font-family: lato-n9, sans-serif;
}

#u1247-8
{
	font-family: dosis-n4, sans-serif;
}

