#u135-4
{
	font-family: dosis-n5, sans-serif;
}

#u311-4
{
	font-family: dosis-n5, sans-serif;
}

#u141-4,#u138-4,#u256-4,#u252-4,#u253-4,#u254-4,#u255-4,#u257-4,#u258-4,#u260-8,#u261-6,#u262-4,#u308-4,#u309-4,#u310-4
{
	font-family: dosis-n4, sans-serif;
}

#u432-4,#u433-4,#u440-10,#u465-4,#u469-4,#u460-4,#u464-4,#u458-10,#u470-4,#u474-4,#u475-10,#u477-10,#u479-4,#u487-4,#u492-4,#u499-4,#u508-4,#u506-4,#u488-10,#u491-10,#u501-10,#u540-4,#u547-4,#u554-4,#u559-4,#u561-4,#u567-4,#u555-10,#u549-10,#u562-10
{
	font-family: dosis-n5, sans-serif;
}

