#u135-4
{
	font-family: dosis-n5, sans-serif;
}

#u311-4
{
	font-family: dosis-n5, sans-serif;
}

#u141-4,#u138-4,#u256-4,#u252-4,#u253-4,#u254-4,#u255-4,#u257-4,#u258-4,#u260-8,#u261-6,#u262-4,#u308-4,#u309-4,#u310-4
{
	font-family: dosis-n4, sans-serif;
}

#u355-4
{
	font-family: lato-n7, sans-serif;
}

#u348-4
{
	font-family: lato-n7, sans-serif;
}

#u345-4
{
	font-family: lato-n7, sans-serif;
}

#u367-4
{
	font-family: lato-n7, sans-serif;
}

#widgetu352_input,#widgetu352_prompt,#widgetu347_input,#widgetu347_prompt,#widgetu343_input,#widgetu343_prompt,#widgetu365_input,#widgetu365_prompt
{
	font-family: lato, sans-serif;
}

#u337-4,#u340-6,#u339-4,#u341-6,#u1375-6,#u371-4,#u372-6,#u373-4,#u374-4
{
	font-family: lato-n9, sans-serif;
}

