#u135-4
{
	font-family: dosis-n5, sans-serif;
}

#u311-4
{
	font-family: dosis-n5, sans-serif;
}

#u141-4,#u138-4,#u256-4,#u252-4,#u253-4,#u254-4,#u255-4,#u257-4,#u258-4,#u260-8,#u261-6,#u262-4,#u308-4,#u309-4,#u310-4
{
	font-family: dosis-n4, sans-serif;
}

#u622-4,#u642-4,#u632-10,#u623-4,#u643-4,#u631-4,#u651-4,#u636-10,#u626-4,#u646-4,#u633-10,#u637-10,#u624-4,#u644-4,#u627-4,#u647-4,#u629-4,#u649-4,#u634-10,#u638-10,#u640-10,#u625-4,#u645-4,#u628-4,#u648-4,#u630-4,#u650-4,#u635-10,#u639-10,#u641-10
{
	font-family: dosis-n5, sans-serif;
}

