.version.index /* version checker */
{
	color: #000013;
	background-color: #74C507;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 1679px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 10px;
	width: 0.01px;
}

#u82
{
	z-index: 9;
	min-height: 47px;
	padding-bottom: 5px;
}

#u143
{
	z-index: 21;
	width: 33px;
	height: 36px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 22px;
}

#u83
{
	z-index: 10;
	width: 36px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 78px;
}

#u141-4
{
	z-index: 31;
	width: 88px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 122px;
}

#u138-4
{
	z-index: 27;
	width: 390px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 307px;
}

#u104
{
	z-index: 18;
	width: 48px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 731px;
}

#u94
{
	z-index: 14;
	width: 71px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 811px;
}

#u89
{
	z-index: 12;
	width: 72px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 913px;
}

#u82-bw
{
	z-index: 9;
	min-height: 47px;
}

#pu99
{
	width: 0.01px;
	margin-left: -85px;
	margin-top: 13px;
}

#u99
{
	z-index: 16;
	width: 280px;
	margin-right: -10000px;
}

#u113
{
	z-index: 20;
	width: 33px;
	height: 36px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 742px;
}

#u113:hover
{
	width: 33px;
	height: 36px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u135-4
{
	z-index: 23;
	width: 80px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 799px;
}

#u135-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 80px;
	margin: 24px -10000px 0px 0px;
}

#pu234
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 7px;
}

#u234
{
	z-index: 2;
	height: 520px;
	background: transparent url("../images/autosseminuevos2.png") no-repeat center center;
	background-size: cover;
}

#u234-bw
{
	z-index: 2;
	margin-top: 37px;
	height: 520px;
}

#slideshowu1256
{
	z-index: 3;
	width: 0.01px;
	height: 498px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 17px;
}

#u1264
{
	position: absolute;
	width: 973px;
	height: 498px;
	background-color: transparent;
}

#u1264popup
{
	z-index: 4;
}

#u1265
{
	z-index: 5;
	width: 973px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1265_clip
{
	overflow: hidden;
	width: 973px;
	height: 498px;
}

#u1265_img
{
	margin: 25px -4px;
}

#u1337
{
	z-index: 7;
	width: 1090px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1337_img
{
	padding: 40px 42px 40px 43px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u128_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	left: -100px;
	padding-top: 12px;
	padding-bottom: 19px;
}

#u188
{
	z-index: 35;
	width: 237px;
	height: 178px;
	left: 27px;
}

#u188:hover
{
	width: 237px;
	height: 178px;
	min-height: 0px;
	margin: 0px;
}

#u201
{
	z-index: 36;
	width: 237px;
	height: 178px;
	left: 26px;
	margin-top: 19px;
}

#u201:hover
{
	width: 237px;
	height: 178px;
	min-height: 0px;
	margin: 19px 0px 0px;
}

#u214
{
	z-index: 37;
	width: 237px;
	height: 178px;
	left: 26px;
	margin-top: 21px;
}

#u214:hover
{
	width: 237px;
	height: 178px;
	min-height: 0px;
	margin: 21px 0px 0px;
}

#u128,#u128-bw
{
	z-index: 22;
	min-height: 605px;
}

#u337-4
{
	z-index: 123;
	width: 303px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 900;
	margin-left: 267px;
	margin-top: 27px;
	position: relative;
}

#ppu325
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 9px;
}

#pu325
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 335px;
}

#u325
{
	z-index: 119;
	width: 329px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u340-6
{
	z-index: 155;
	width: 263px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 33px;
}

#u319
{
	z-index: 117;
	width: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u330
{
	z-index: 121;
	width: 330px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 669px;
}

#u339-4
{
	z-index: 151;
	width: 263px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 36px;
}

#u341-6
{
	z-index: 161;
	width: 263px;
	min-height: 53px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 706px;
}

#u1375-6
{
	z-index: 127;
	width: 307px;
	min-height: 58px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 900;
	margin-left: 5px;
	margin-top: 17px;
	position: relative;
}

#widgetu342
{
	z-index: 167;
	width: 0.01px;
	height: 296px;
	left: -67px;
	margin-top: 8px;
	position: relative;
}

#widgetu352
{
	z-index: 168;
	width: 457px;
	height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
}

#widgetu352.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 457px;
	height: 42px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u355-4
{
	z-index: 169;
	width: 443px;
	min-height: 28px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #000000;
	padding: 6px;
	color: #FFFFFF;
	line-height: 12px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu352.non-empty-st #u355-4
{
	background-color: #FFFFFF;
}

#widgetu352:hover #u355-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 443px;
	margin: 0px -10000px 0px 0px;
}

#widgetu352.focus-st #u355-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 443px;
	margin: 0px -10000px 0px 0px;
}

#widgetu352.non-empty-st #u355-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu352:hover #u355-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu352.focus-st #u355-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu352_input,#widgetu352_prompt
{
	width: 443px;
	min-height: 28px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	padding: 6px;
}

#widgetu347
{
	z-index: 173;
	width: 457px;
	height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
}

#widgetu347.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 457px;
	height: 42px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u348-4
{
	z-index: 174;
	width: 443px;
	min-height: 28px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #000000;
	padding: 6px;
	color: #FFFFFF;
	line-height: 12px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#widgetu347.non-empty-st #u348-4
{
	background-color: #FFFFFF;
}

#widgetu347:hover #u348-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 443px;
	margin: 0px -10000px 0px 0px;
}

#widgetu347.focus-st #u348-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 443px;
	margin: 0px -10000px 0px 0px;
}

#widgetu347.non-empty-st #u348-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu347:hover #u348-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu347.focus-st #u348-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u357-4
{
	z-index: 178;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
	left: 140px;
}

#widgetu342.frm-sub-st #u357-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u356-4
{
	z-index: 182;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
	left: 140px;
}

#widgetu342.frm-subm-err-st #u356-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u358-4
{
	z-index: 186;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
	left: 140px;
}

#widgetu342.frm-sub-st #u357-4,#widgetu342.frm-subm-err-st #u356-4,#widgetu342.frm-subm-ok-st #u358-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu342.frm-subm-ok-st #u358-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u351-17
{
	z-index: 190;
	min-height: 31px;
	width: 458px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
	background: url("../images/u351-17.png") no-repeat 0px 0px;
}

#u351-17:hover
{
	background: url("../images/u351-17-r.png") no-repeat 0px 0px;
}

#u351-17:active
{
	background: url("../images/u351-17-m.png") no-repeat 0px 0px;
}

#widgetu342.frm-sub-st #u351-17
{
	background: url("../images/u351-17-fs.png") no-repeat 0px 0px;
}

#widgetu343
{
	z-index: 207;
	width: 458px;
	height: 82px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
}

#widgetu343.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 458px;
	height: 82px;
	min-height: 0px;
	margin: 177px -10000px 0px 0px;
}

#u345-4
{
	z-index: 208;
	width: 444px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #000000;
	padding: 6px;
	color: #FFFFFF;
	line-height: 12px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#widgetu343.non-empty-st #u345-4
{
	background-color: #FFFFFF;
}

#widgetu343:hover #u345-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 444px;
	margin: 0px -10000px 0px 0px;
}

#widgetu343.focus-st #u345-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 444px;
	margin: 0px -10000px 0px 0px;
}

#widgetu343.fld-err-st #u345-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 444px;
	margin: 0px -10000px 0px 0px;
}

#widgetu343.non-empty-st #u345-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu343:hover #u345-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu343.focus-st #u345-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu343_input,#widgetu343_prompt
{
	width: 444px;
	min-height: 68px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-size: 12px;
	font-weight: 700;
	padding: 6px;
}

#widgetu365
{
	z-index: 212;
	width: 457px;
	height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 1px;
}

#widgetu365.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 457px;
	height: 42px;
	min-height: 0px;
	margin: 119px -10000px 0px 0px;
}

#u367-4
{
	z-index: 213;
	width: 443px;
	min-height: 28px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #000000;
	padding: 6px;
	color: #FFFFFF;
	line-height: 12px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#widgetu365.non-empty-st #u367-4
{
	background-color: #FFFFFF;
}

#widgetu365:hover #u367-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 443px;
	margin: 0px -10000px 0px 0px;
}

#widgetu365.focus-st #u367-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 443px;
	margin: 0px -10000px 0px 0px;
}

#widgetu352.fld-err-st #u355-4,#widgetu347.fld-err-st #u348-4,#widgetu365.fld-err-st #u367-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 28px;
	width: 443px;
	margin: 0px -10000px 0px 0px;
}

#widgetu365.non-empty-st #u367-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu365:hover #u367-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu365.focus-st #u367-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu352.fld-err-st #u355-4 *,#widgetu347.fld-err-st #u348-4 *,#widgetu343.fld-err-st #u345-4 *,#widgetu365.fld-err-st #u367-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu347_input,#widgetu347_prompt,#widgetu365_input,#widgetu365_prompt
{
	width: 443px;
	min-height: 28px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-size: 12px;
	font-weight: 700;
	padding: 6px;
}

#widgetu352:hover #widgetu352_input,#widgetu352.focus-st #widgetu352_input,#widgetu352.fld-err-st #widgetu352_input,#widgetu352:hover #widgetu352_prompt,#widgetu352.focus-st #widgetu352_prompt,#widgetu352.fld-err-st #widgetu352_prompt,#widgetu347:hover #widgetu347_input,#widgetu347.focus-st #widgetu347_input,#widgetu347.fld-err-st #widgetu347_input,#widgetu347:hover #widgetu347_prompt,#widgetu347.focus-st #widgetu347_prompt,#widgetu347.fld-err-st #widgetu347_prompt,#widgetu343:hover #widgetu343_input,#widgetu343.focus-st #widgetu343_input,#widgetu343.fld-err-st #widgetu343_input,#widgetu343:hover #widgetu343_prompt,#widgetu343.focus-st #widgetu343_prompt,#widgetu343.fld-err-st #widgetu343_prompt,#widgetu365:hover #widgetu365_input,#widgetu365.focus-st #widgetu365_input,#widgetu365.fld-err-st #widgetu365_input,#widgetu365:hover #widgetu365_prompt,#widgetu365.focus-st #widgetu365_prompt,#widgetu365.fld-err-st #widgetu365_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu352.non-empty-st #widgetu352_prompt,#widgetu347.non-empty-st #widgetu347_prompt,#widgetu343.non-empty-st #widgetu343_prompt,#widgetu365.non-empty-st #widgetu365_prompt
{
	visibility: hidden;
}

#u371-4
{
	z-index: 133;
	width: 263px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 900;
	margin-left: 465px;
	top: -275px;
	margin-bottom: -31px;
	position: relative;
}

#u372-6
{
	z-index: 137;
	width: 321px;
	min-height: 56px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 900;
	margin-left: 438px;
	top: -238px;
	margin-bottom: -56px;
	position: relative;
}

#u373-4
{
	z-index: 143;
	width: 321px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 900;
	margin-left: 437px;
	top: -169px;
	margin-bottom: -31px;
	position: relative;
}

#u374-4
{
	z-index: 147;
	width: 321px;
	min-height: 31px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 900;
	margin-left: 438px;
	top: -97px;
	margin-bottom: -31px;
	position: relative;
}

#pu384
{
	width: 0.01px;
	margin-left: 479px;
	margin-top: -57px;
}

#u384
{
	z-index: 221;
	width: 65px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u381
{
	z-index: 219;
	width: 45px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 93px;
}

#u378
{
	z-index: 217;
	width: 72px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 161px;
}

#pu245
{
	width: 0.01px;
	margin-left: -100px;
}

#u245
{
	z-index: 38;
	min-height: 159px;
	padding-bottom: 41px;
}

#u82_align_to_page,#u245_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	left: -100px;
}

#pu263
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 66px;
	margin-left: 93px;
}

#u263
{
	z-index: 101;
	width: 162px;
}

#u256-4
{
	z-index: 43;
	width: 44px;
	min-height: 22px;
	margin-left: 47px;
	margin-top: 20px;
}

#u252-4
{
	z-index: 39;
	width: 89px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 259px;
}

#u253-4
{
	z-index: 89;
	width: 89px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 433px;
}

#u254-4
{
	z-index: 93;
	width: 89px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 609px;
}

#u255-4
{
	z-index: 97;
	width: 63px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 131px;
	left: 796px;
}

#u313
{
	z-index: 115;
	width: 15px;
	margin-right: -10000px;
	margin-top: 127px;
	left: 962px;
}

#u245-bw
{
	z-index: 38;
	min-height: 159px;
}

#u257-4
{
	z-index: 47;
	width: 108px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 206px;
	left: 100px;
}

#u258-4
{
	z-index: 51;
	width: 181px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 206px;
	left: 272px;
}

#u260-8
{
	z-index: 55;
	width: 253px;
	min-height: 66px;
	margin-right: -10000px;
	margin-top: 191px;
	left: 482px;
}

#u261-6
{
	z-index: 63;
	width: 240px;
	min-height: 49px;
	margin-right: -10000px;
	margin-top: 201px;
	left: 755px;
}

#u262-4
{
	z-index: 69;
	width: 90px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 179px;
	left: 750px;
}

#u284
{
	z-index: 107;
	width: 19px;
	margin-right: -10000px;
	margin-top: 206px;
	left: 460px;
}

#u289
{
	z-index: 109;
	width: 23px;
	margin-right: -10000px;
	margin-top: 205px;
	left: 80px;
}

#u294
{
	z-index: 111;
	width: 25px;
	margin-right: -10000px;
	margin-top: 207px;
	left: 241px;
}

#u311-4
{
	z-index: 81;
	width: 197px;
	min-height: 25px;
	margin-left: 305px;
	margin-top: 25px;
}

#pu305
{
	width: 0.01px;
	margin-left: 278px;
	margin-top: 3px;
}

#u305
{
	z-index: 113;
	width: 71px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u274
{
	z-index: 105;
	width: 45px;
	margin-right: -10000px;
	left: 100px;
}

#u269
{
	z-index: 103;
	width: 72px;
	margin-right: -10000px;
	left: 180px;
}

#pu308-4
{
	width: 0.01px;
	margin-left: -91px;
	margin-top: 22px;
}

#u308-4
{
	z-index: 73;
	width: 324px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u309-4
{
	z-index: 77;
	width: 162px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 412px;
}

#u310-4
{
	z-index: 85;
	width: 249px;
	min-height: 25px;
	margin-right: -10000px;
	left: 728px;
}

body
{
	position: relative;
	min-width: 800px;
}

#page .verticalspacer
{
	clear: both;
}

