#u82
{
	background: transparent url("../images/autosseminuevos.jpg") no-repeat center center;
	background-size: cover;
}

#u143
{
	position: relative;
	background: transparent url("../images/autos_seminuevos_barr_inicio_11.png") no-repeat center center;
}

#u113
{
	position: relative;
	background: transparent url("../images/autos_seminuevos_barr_inicio_05.png") no-repeat center center;
}

#u113:hover
{
	background: transparent url("../images/autos_seminuevos_barr_inicio_28.png") no-repeat center center;
}

#u135-4
{
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
}

#u135-4:hover p
{
	color: #E40412;
	visibility: inherit;
}

#u128
{
	background: transparent url("../images/autosseminuevos.png") no-repeat center center;
	background-size: cover;
}

#u188
{
	position: relative;
	background: transparent url("../images/autos_seminuevos_barr_detalle_06.png") no-repeat center center;
}

#u188:hover
{
	background: transparent url("../images/autos_seminuevos_barr_detalle_08.png") no-repeat center center;
}

#u201
{
	position: relative;
	background: transparent url("../images/autos_seminuevos_barr_detalle_13.png") no-repeat center center;
}

#u201:hover
{
	background: transparent url("../images/autos_seminuevos_barr_detalle_12.png") no-repeat center center;
}

#u214
{
	position: relative;
	background: transparent url("../images/autos_seminuevos_barr_detalle_16.png") no-repeat center center;
}

#u214:hover
{
	background: transparent url("../images/autos_seminuevos_barr_detalle_18.png") no-repeat center center;
}

#u245
{
	background: transparent url("../images/footer.png") no-repeat center center;
	background-size: cover;
}

#u82_align_to_page,#u128_align_to_page,#u245_align_to_page
{
	position: relative;
}

#u141-4,#u138-4,#u256-4,#u252-4,#u253-4,#u254-4,#u255-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-family: dosis, sans-serif;
	font-weight: 400;
	position: relative;
}

#u257-4,#u258-4,#u260-8,#u261-6,#u262-4
{
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	position: relative;
}

#u311-4
{
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
}

#u83,#u104,#u94,#u89,#u99,#u263,#u313,#u284,#u289,#u294,#u305,#u274,#u269
{
	background-color: transparent;
	position: relative;
}

#u308-4,#u309-4,#u310-4
{
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 14px;
	font-family: dosis, sans-serif;
	font-weight: 400;
	position: relative;
}


#u294{
    left: 215px !important;
}
#u258-4{
    left: 245px !important;
    width:215px !important;
}
#u1200-4{
    width:295px !important;
}
#u284{
    left: 468px !important;
}




