.version.recuperados /* version checker */
{
	color: #000000;
	background-color: #D716F1;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 1959.8000000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 10px;
	width: 0.01px;
}

#u82
{
	z-index: 2;
	min-height: 47px;
	padding-bottom: 5px;
}

#u143
{
	z-index: 14;
	width: 33px;
	height: 36px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 22px;
}

#u83
{
	z-index: 3;
	width: 36px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 78px;
}

#u141-4
{
	z-index: 24;
	width: 88px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 122px;
}

#u138-4
{
	z-index: 20;
	width: 390px;
	min-height: 19px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 307px;
}

#u104
{
	z-index: 11;
	width: 48px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 731px;
}

#u94
{
	z-index: 7;
	width: 71px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 811px;
}

#u89
{
	z-index: 5;
	width: 72px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 913px;
}

#u82-bw
{
	z-index: 2;
	min-height: 47px;
}

#pu99
{
	width: 0.01px;
	margin-left: -85px;
	margin-top: 13px;
}

#u99
{
	z-index: 9;
	width: 280px;
	margin-right: -10000px;
}

#u113
{
	z-index: 13;
	width: 33px;
	height: 36px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 742px;
}

#u113:hover
{
	width: 33px;
	height: 36px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u135-4
{
	z-index: 16;
	width: 80px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 799px;
}

#u135-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 80px;
	margin: 24px -10000px 0px 0px;
}

#u128
{
	z-index: 15;
	min-height: 597px;
	padding-bottom: 8px;
}

#pu188
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
	margin-left: 26px;
}

#u188
{
	z-index: 28;
	width: 237px;
	height: 178px;
	margin-left: 1px;
}

#u188:hover
{
	width: 237px;
	height: 178px;
	min-height: 0px;
	margin: 0px 0px 0px 1px;
}

#u201
{
	z-index: 29;
	width: 237px;
	height: 178px;
	margin-top: 19px;
}

#u201:hover
{
	width: 237px;
	height: 178px;
	min-height: 0px;
	margin: 19px 0px 0px;
}

#u214
{
	z-index: 30;
	width: 237px;
	height: 178px;
	margin-top: 21px;
}

#u214:hover
{
	width: 237px;
	height: 178px;
	min-height: 0px;
	margin: 21px 0px 0px;
}

#ppu622-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 366px;
}

#pu622-4
{
	width: 0.01px;
	margin-left: 7px;
}

#u622-4
{
	z-index: 140;
	width: 81px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u652
{
	z-index: 320;
	width: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 168px;
}

#u642-4
{
	z-index: 280;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 205px;
}

#u592
{
	z-index: 110;
	width: 276px;
	-pie-box-shadow: 0px 0px 20px #C4C4C4;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.23);
	background-color: #FFFFFF;
	padding-bottom: 9px;
	margin-top: 13px;
	position: relative;
}

#u602
{
	z-index: 120;
	width: 242px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 19px;
}

#pu632-10
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 13px;
}

#u632-10
{
	z-index: 180;
	width: 169px;
	min-height: 71px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u668
{
	z-index: 336;
	width: 37px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 236px;
	background: transparent url("../images/autos_accidentados_barr_productos_07.png") no-repeat center center;
}

#pu623-4
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 13px;
}

#u623-4
{
	z-index: 144;
	width: 81px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u654
{
	z-index: 322;
	width: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 168px;
}

#u643-4
{
	z-index: 284;
	width: 67px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 205px;
}

#u593
{
	z-index: 111;
	width: 276px;
	-pie-box-shadow: 0px 0px 20px #C4C4C4;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.23);
	background-color: #FFFFFF;
	padding-bottom: 9px;
	margin-top: 14px;
	position: relative;
}

#u604
{
	z-index: 122;
	width: 242px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 19px;
}

#ppu631-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 705px;
}

#pu631-4
{
	width: 0.01px;
	margin-left: 2px;
}

#u631-4
{
	z-index: 176;
	width: 81px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u666
{
	z-index: 334;
	width: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 168px;
}

#u651-4
{
	z-index: 316;
	width: 69px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 205px;
}

#u596
{
	z-index: 114;
	width: 276px;
	-pie-box-shadow: 0px 0px 20px #C4C4C4;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.23);
	background-color: #FFFFFF;
	padding-bottom: 9px;
	margin-left: 1px;
	margin-top: 10px;
	position: relative;
}

#u610
{
	z-index: 128;
	width: 242px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 19px;
}

#pu636-10
{
	width: 0.01px;
	margin-top: 11px;
}

#u636-10
{
	z-index: 220;
	width: 169px;
	min-height: 71px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u672
{
	z-index: 340;
	width: 37px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 236px;
	background: transparent url("../images/autos_accidentados_barr_productos_07.png") no-repeat center center;
}

#pu626-4
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 18px;
}

#u626-4
{
	z-index: 156;
	width: 81px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u660
{
	z-index: 328;
	width: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 168px;
}

#u646-4
{
	z-index: 296;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 205px;
}

#u597
{
	z-index: 115;
	width: 276px;
	-pie-box-shadow: 0px 0px 20px #C4C4C4;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.23);
	background-color: #FFFFFF;
	padding-bottom: 9px;
	margin-left: 1px;
	margin-top: 11px;
	position: relative;
}

#u612
{
	z-index: 130;
	width: 242px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 19px;
}

#u128-bw
{
	z-index: 15;
	min-height: 597px;
	margin-top: 7px;
}

#pu633-10
{
	width: 0.01px;
	margin-left: 270px;
	margin-top: 7px;
}

#u633-10
{
	z-index: 190;
	width: 169px;
	min-height: 71px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u669
{
	z-index: 337;
	width: 37px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 236px;
	background: transparent url("../images/autos_accidentados_barr_productos_07.png") no-repeat center center;
}

#u637-10
{
	z-index: 230;
	width: 169px;
	min-height: 71px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 336px;
}

#u673
{
	z-index: 341;
	width: 37px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 572px;
	background: transparent url("../images/autos_accidentados_barr_productos_07.png") no-repeat center center;
}

#pu624-4
{
	width: 0.01px;
	margin-left: -57px;
	margin-top: 26px;
}

#u624-4
{
	z-index: 148;
	width: 81px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u656
{
	z-index: 324;
	width: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 168px;
}

#u644-4
{
	z-index: 288;
	width: 67px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 205px;
}

#u627-4
{
	z-index: 160;
	width: 81px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 330px;
}

#u662
{
	z-index: 330;
	width: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 498px;
}

#u647-4
{
	z-index: 300;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 535px;
}

#u629-4
{
	z-index: 168;
	width: 81px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 664px;
}

#u649-4
{
	z-index: 308;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 871px;
}

#u594
{
	z-index: 112;
	width: 276px;
	-pie-box-shadow: 0px 0px 20px #C4C4C4;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.23);
	background-color: #FFFFFF;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u606
{
	z-index: 124;
	width: 242px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 19px;
}

#u598
{
	z-index: 116;
	width: 276px;
	-pie-box-shadow: 0px 0px 20px #C4C4C4;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.23);
	background-color: #FFFFFF;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 330px;
}

#u614
{
	z-index: 132;
	width: 242px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 19px;
}

#u600
{
	z-index: 118;
	width: 276px;
	-pie-box-shadow: 0px 0px 20px #C4C4C4;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.23);
	background-color: #FFFFFF;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 666px;
}

#u618
{
	z-index: 136;
	width: 242px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 19px;
}

#u634-10
{
	z-index: 200;
	width: 169px;
	min-height: 71px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u670
{
	z-index: 338;
	width: 37px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 236px;
	background: transparent url("../images/autos_accidentados_barr_productos_07.png") no-repeat center center;
}

#u638-10
{
	z-index: 240;
	width: 169px;
	min-height: 71px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 326px;
}

#u674
{
	z-index: 342;
	width: 37px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 562px;
	background: transparent url("../images/autos_accidentados_barr_productos_07.png") no-repeat center center;
}

#u640-10
{
	z-index: 260;
	width: 169px;
	min-height: 71px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 662px;
}

#u676
{
	z-index: 344;
	width: 37px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 898px;
	background: transparent url("../images/autos_accidentados_barr_productos_07.png") no-repeat center center;
}

#pu625-4
{
	width: 0.01px;
	margin-left: -57px;
	margin-top: 28px;
}

#u625-4
{
	z-index: 152;
	width: 81px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u658
{
	z-index: 326;
	width: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 168px;
}

#u645-4
{
	z-index: 292;
	width: 67px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 205px;
}

#u628-4
{
	z-index: 164;
	width: 81px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 330px;
}

#u664
{
	z-index: 332;
	width: 31px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 498px;
}

#u648-4
{
	z-index: 304;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 535px;
}

#u630-4
{
	z-index: 172;
	width: 81px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 664px;
}

#u650-4
{
	z-index: 312;
	width: 60px;
	min-height: 23px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 871px;
}

#pu594,#pu595
{
	width: 0.01px;
	margin-left: -62px;
	margin-top: 5px;
}

#u595
{
	z-index: 113;
	width: 276px;
	-pie-box-shadow: 0px 0px 20px #C4C4C4;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.23);
	background-color: #FFFFFF;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u608
{
	z-index: 126;
	width: 242px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 19px;
}

#u599
{
	z-index: 117;
	width: 276px;
	-pie-box-shadow: 0px 0px 20px #C4C4C4;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.23);
	background-color: #FFFFFF;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 330px;
}

#u616
{
	z-index: 134;
	width: 242px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 19px;
}

#u601
{
	z-index: 119;
	width: 276px;
	-pie-box-shadow: 0px 0px 20px #C4C4C4;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.23);
	background-color: #FFFFFF;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 666px;
}

#u620
{
	z-index: 138;
	width: 242px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 19px;
}

#pu634-10,#pu635-10
{
	width: 0.01px;
	margin-left: -58px;
	margin-top: 11px;
}

#u635-10
{
	z-index: 210;
	width: 169px;
	min-height: 71px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u671
{
	z-index: 339;
	width: 37px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 236px;
	background: transparent url("../images/autos_accidentados_barr_productos_07.png") no-repeat center center;
}

#u670:hover,#u671:hover
{
	width: 37px;
	height: 37px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
	background: transparent url("../images/autos_accidentados_barr_productos_05.png") no-repeat center center;
}

#u639-10
{
	z-index: 250;
	width: 169px;
	min-height: 71px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 326px;
}

#u675
{
	z-index: 343;
	width: 37px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 562px;
	background: transparent url("../images/autos_accidentados_barr_productos_07.png") no-repeat center center;
}

#u669:hover,#u674:hover,#u675:hover
{
	width: 37px;
	height: 37px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
	background: transparent url("../images/autos_accidentados_barr_productos_05.png") no-repeat center center;
}

#u641-10
{
	z-index: 270;
	width: 169px;
	min-height: 71px;
	background-color: transparent;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 662px;
}

#u677
{
	z-index: 345;
	width: 37px;
	height: 37px;
	position: relative;
	margin-right: -10000px;
	left: 898px;
	background: transparent url("../images/autos_accidentados_barr_productos_07.png") no-repeat center center;
}

#u668:hover,#u672:hover,#u673:hover,#u676:hover,#u677:hover
{
	width: 37px;
	height: 37px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/autos_accidentados_barr_productos_05.png") no-repeat center center;
}

#pu245
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 9px;
}

#u245
{
	z-index: 31;
	min-height: 159px;
	padding-bottom: 41px;
}

#u82_align_to_page,#u128_align_to_page,#u245_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	left: -100px;
}

#pu263
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 66px;
	margin-left: 93px;
}

#u263
{
	z-index: 94;
	width: 162px;
}

#u256-4
{
	z-index: 36;
	width: 44px;
	min-height: 22px;
	margin-left: 47px;
	margin-top: 20px;
}

#u252-4
{
	z-index: 32;
	width: 89px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 259px;
}

#u253-4
{
	z-index: 82;
	width: 89px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 433px;
}

#u254-4
{
	z-index: 86;
	width: 89px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 133px;
	left: 609px;
}

#u255-4
{
	z-index: 90;
	width: 63px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 131px;
	left: 796px;
}

#u313
{
	z-index: 108;
	width: 15px;
	margin-right: -10000px;
	margin-top: 127px;
	left: 962px;
}

#u245-bw
{
	z-index: 31;
	min-height: 159px;
}

#u257-4
{
	z-index: 40;
	width: 108px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 206px;
	left: 100px;
}

#u258-4
{
	z-index: 44;
	width: 181px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 206px;
	left: 272px;
}

#u260-8
{
	z-index: 48;
	width: 253px;
	min-height: 66px;
	margin-right: -10000px;
	margin-top: 191px;
	left: 482px;
}

#u261-6
{
	z-index: 56;
	width: 240px;
	min-height: 49px;
	margin-right: -10000px;
	margin-top: 201px;
	left: 755px;
}

#u262-4
{
	z-index: 62;
	width: 90px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 179px;
	left: 750px;
}

#u284
{
	z-index: 100;
	width: 19px;
	margin-right: -10000px;
	margin-top: 206px;
	left: 460px;
}

#u289
{
	z-index: 102;
	width: 23px;
	margin-right: -10000px;
	margin-top: 205px;
	left: 80px;
}

#u294
{
	z-index: 104;
	width: 25px;
	margin-right: -10000px;
	margin-top: 207px;
	left: 241px;
}

#u311-4
{
	z-index: 74;
	width: 197px;
	min-height: 25px;
	margin-left: 305px;
	margin-top: 25px;
}

#pu305
{
	width: 0.01px;
	margin-left: 278px;
	margin-top: 3px;
}

#u305
{
	z-index: 106;
	width: 71px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u274
{
	z-index: 98;
	width: 45px;
	margin-right: -10000px;
	left: 100px;
}

#u269
{
	z-index: 96;
	width: 72px;
	margin-right: -10000px;
	left: 180px;
}

#pu308-4
{
	width: 0.01px;
	margin-left: -91px;
	margin-top: 22px;
}

#u308-4
{
	z-index: 66;
	width: 324px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 3px;
}

#u309-4
{
	z-index: 70;
	width: 162px;
	min-height: 25px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 412px;
}

#u310-4
{
	z-index: 78;
	width: 249px;
	min-height: 25px;
	margin-right: -10000px;
	left: 728px;
}

body
{
	position: relative;
	min-width: 800px;
}

#page .verticalspacer
{
	clear: both;
}

