.version.cat_logo /* version checker */
{
	color: #00001E;
	background-color: #DFE58C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 2040px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 16px;
	width: 0.01px;
}

#pu239
{
	width: 0.01px;
	margin-left: -100px;
}

#u239
{
	z-index: 2;
	width: 602px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 398px;
}

#pu134
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 15px;
}

#u134
{
	z-index: 24;
	width: 24px;
}

#u117
{
	z-index: 5;
	width: 22px;
	margin-top: 2px;
}

#u123-4
{
	z-index: 7;
	width: 239px;
	min-height: 28px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 47px;
}

#u128
{
	z-index: 22;
	width: 36px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 864px;
}

#u2250
{
	z-index: 47;
	width: 18px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 922px;
}

#u2250:hover
{
	width: 18px;
	height: 35px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u2246
{
	z-index: 46;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 961px;
}

#u2246:hover
{
	width: 34px;
	height: 34px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u104,#u104-bw
{
	z-index: 4;
	min-height: 58px;
}

#u125-6
{
	z-index: 11;
	width: 239px;
	min-height: 42px;
	margin-right: -10000px;
	left: 47px;
}

#u127
{
	margin-top: 6px;
	margin-bottom: -6px;
}

#u126-4
{
	z-index: 17;
	width: 235px;
	min-height: 28px;
}

#u167
{
	z-index: 26;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 382px;
}

#u173
{
	z-index: 28;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 464px;
}

#u179
{
	z-index: 30;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 564px;
}

#u185
{
	z-index: 32;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 679px;
}

#u191
{
	z-index: 34;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 792px;
}

#u197
{
	z-index: 36;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 882px;
}

#u167:hover,#u173:hover,#u179:hover,#u185:hover,#u191:hover,#u197:hover
{
	width: 130px;
	min-height: 0px;
	margin: 72px -10000px 0px 0px;
}

#u233
{
	z-index: 38;
	width: 190px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 112px;
}

#u252
{
	z-index: 40;
	width: 80px;
	margin-right: -10000px;
	margin-top: 129px;
	left: 909px;
}

#u1323-4
{
	z-index: 42;
	width: 373px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 155px;
	left: 519px;
}

#pu796
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 5px;
}

#u796
{
	z-index: 89;
	height: 58px;
	background: transparent url("../images/cocinas_industriales_111.png") no-repeat center center;
	background-size: cover;
}

#u796-bw
{
	z-index: 89;
	height: 58px;
}

#u803
{
	z-index: 90;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 100px;
}

#u809
{
	z-index: 92;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 236px;
}

#u815
{
	z-index: 94;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 369px;
}

#u821
{
	z-index: 96;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 501px;
}

#u827
{
	z-index: 98;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 636px;
}

#u833
{
	z-index: 100;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 770px;
}

#ppu790
{
	width: 0.01px;
	margin-left: -87px;
	margin-top: 43px;
}

#pu790
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 692px;
}

#u790
{
	z-index: 87;
	width: 278px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u840
{
	z-index: 102;
	width: 140px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 69px;
}

#u846
{
	z-index: 104;
	width: 137px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 71px;
}

#u852
{
	z-index: 106;
	width: 146px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 66px;
}

#u858
{
	z-index: 108;
	width: 83px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 172px;
	left: 98px;
}

#u864
{
	z-index: 110;
	width: 108px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 228px;
	left: 85px;
}

#u870
{
	z-index: 112;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 281px;
	left: 67px;
}

#u1554
{
	z-index: 120;
	width: 140px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 337px;
	left: 69px;
}

#u1556
{
	z-index: 122;
	width: 137px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 387px;
	left: 71px;
}

#u1558
{
	z-index: 124;
	width: 146px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 434px;
	left: 66px;
}

#u1560
{
	z-index: 126;
	width: 83px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 486px;
	left: 98px;
}

#u1562
{
	z-index: 128;
	width: 108px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 542px;
	left: 85px;
}

#u1564
{
	z-index: 130;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 595px;
	left: 67px;
}

#u1572
{
	z-index: 132;
	width: 140px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 651px;
	left: 69px;
}

#u1574
{
	z-index: 134;
	width: 137px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 701px;
	left: 71px;
}

#u1576
{
	z-index: 136;
	width: 146px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 748px;
	left: 66px;
}

#u1578
{
	z-index: 138;
	width: 83px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 800px;
	left: 98px;
}

#u1580
{
	z-index: 140;
	width: 108px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 856px;
	left: 85px;
}

#u1582
{
	z-index: 142;
	width: 145px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 909px;
	left: 67px;
}

#u876
{
	z-index: 114;
	width: 215px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u897
{
	z-index: 116;
	width: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 153px;
}

#u903
{
	z-index: 118;
	width: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 184px;
}

#pu265
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 207px;
}

#u265
{
	z-index: 48;
	min-height: 317.85000000000036px;
	padding-bottom: 0px;
}

#u104_align_to_page,#u265_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	left: -100px;
}

#u265_position_content
{
	margin-top: -73px;
}

#u313
{
	z-index: 70;
	width: 246px;
	left: 3px;
}

#u334
{
	z-index: 72;
	width: 182px;
	left: 370px;
	margin-top: 48px;
}

#u334:hover
{
	width: 182px;
	min-height: 0px;
	margin: 48px 0px 0px;
}

#pu2262
{
	width: 0.01px;
	left: 271px;
	margin-top: 64px;
	position: relative;
}

#u2262
{
	z-index: 86;
	width: 35px;
	height: 39px;
	margin-right: -10000px;
}

#u2262:hover
{
	width: 35px;
	height: 39px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2258
{
	z-index: 85;
	width: 19px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 60px;
}

#u2258:hover
{
	width: 19px;
	height: 35px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#u2254
{
	z-index: 84;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 103px;
}

#u2254:hover
{
	width: 34px;
	height: 34px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#pu282-4
{
	width: 0.01px;
	left: 74px;
	margin-top: 37px;
	position: relative;
}

#u282-4
{
	z-index: 62;
	width: 166px;
	min-height: 25px;
	margin-right: -10000px;
}

#u289
{
	z-index: 68;
	width: 26px;
	margin-right: -10000px;
	left: 176px;
}

#u274-5
{
	z-index: 57;
	width: 251px;
	min-height: 25px;
	margin-right: -10000px;
	left: 202px;
}

#u272-4
{
	z-index: 49;
	width: 445px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 477px;
}

#u265-bw
{
	z-index: 48;
	min-height: 317.85000000000036px;
}

#u283
{
	z-index: 66;
	width: 26px;
	margin-right: -10000px;
	margin-top: 292px;
	left: 52px;
}

#u340
{
	z-index: 74;
	width: 182px;
	margin-right: -10000px;
	margin-top: 144px;
	left: 391px;
}

#u340:hover
{
	width: 182px;
	min-height: 0px;
	margin: 144px -10000px 0px 0px;
}

#u346
{
	z-index: 76;
	width: 182px;
	margin-right: -10000px;
	margin-top: 170px;
	left: 410px;
}

#u346:hover
{
	width: 182px;
	min-height: 0px;
	margin: 170px -10000px 0px 0px;
}

#u352
{
	z-index: 78;
	width: 182px;
	margin-right: -10000px;
	margin-top: 197px;
	left: 432px;
}

#u352:hover
{
	width: 182px;
	min-height: 0px;
	margin: 197px -10000px 0px 0px;
}

#u358
{
	z-index: 80;
	width: 182px;
	margin-right: -10000px;
	margin-top: 224px;
	left: 451px;
}

#u358:hover
{
	width: 182px;
	min-height: 0px;
	margin: 224px -10000px 0px 0px;
}

#u328
{
	z-index: 82;
	width: 182px;
	margin-right: -10000px;
	margin-top: 99px;
	left: 358px;
}

#u328:hover
{
	width: 182px;
	min-height: 0px;
	margin: 99px -10000px 0px 0px;
}

#u273-4
{
	z-index: 53;
	width: 445px;
	min-height: 25px;
	margin-left: 451px;
	top: -2px;
	margin-bottom: -2px;
}

body
{
	position: relative;
	min-width: 800px;
}

#page .verticalspacer
{
	clear: both;
}

