.version.contacto /* version checker */
{
	color: #000005;
	background-color: #23C676;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 1926px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 16px;
	width: 0.01px;
}

#pu239
{
	width: 0.01px;
	margin-left: -100px;
}

#u239
{
	z-index: 2;
	width: 602px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 398px;
}

#pu134
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 15px;
}

#u134
{
	z-index: 24;
	width: 24px;
}

#u117
{
	z-index: 5;
	width: 22px;
	margin-top: 2px;
}

#u123-4
{
	z-index: 7;
	width: 239px;
	min-height: 28px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 47px;
}

#u128
{
	z-index: 22;
	width: 36px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 864px;
}

#u2250
{
	z-index: 47;
	width: 18px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 922px;
}

#u2250:hover
{
	width: 18px;
	height: 35px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u2246
{
	z-index: 46;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 961px;
}

#u2246:hover
{
	width: 34px;
	height: 34px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u104,#u104-bw
{
	z-index: 4;
	min-height: 58px;
}

#u125-6
{
	z-index: 11;
	width: 239px;
	min-height: 42px;
	margin-right: -10000px;
	left: 47px;
}

#u126-4
{
	z-index: 17;
	width: 235px;
	min-height: 28px;
}

#u167
{
	z-index: 26;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 382px;
}

#u173
{
	z-index: 28;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 464px;
}

#u179
{
	z-index: 30;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 564px;
}

#u185
{
	z-index: 32;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 679px;
}

#u191
{
	z-index: 34;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 792px;
}

#u197
{
	z-index: 36;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 882px;
}

#u167:hover,#u173:hover,#u179:hover,#u185:hover,#u191:hover,#u197:hover
{
	width: 130px;
	min-height: 0px;
	margin: 72px -10000px 0px 0px;
}

#u233
{
	z-index: 38;
	width: 190px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 112px;
}

#u252
{
	z-index: 40;
	width: 80px;
	margin-right: -10000px;
	margin-top: 129px;
	left: 909px;
}

#u1323-4
{
	z-index: 42;
	width: 373px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 155px;
	left: 519px;
}

#u1198
{
	z-index: 87;
	width: 74px;
	background-color: transparent;
	margin-left: 613px;
	margin-top: 28px;
	position: relative;
}

#u1262-8
{
	z-index: 135;
	width: 473px;
	min-height: 92px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: cabin, sans-serif;
	font-weight: 400;
	margin-left: 413px;
	margin-top: 21px;
	position: relative;
}

#widgetu1244
{
	z-index: 90;
	width: 0.01px;
	height: 219px;
	margin-left: 400px;
	margin-top: 6px;
	position: relative;
}

#widgetu1249
{
	z-index: 91;
	width: 481px;
	height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu1249.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 481px;
	height: 39px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u1252-4
{
	z-index: 92;
	width: 467px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #784D7B;
	background-color: transparent;
	padding: 6px;
	line-height: 16px;
	font-size: 16px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu1249.non-empty-st #u1252-4
{
	background-color: #FFFFFF;
}

#widgetu1249:hover #u1252-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 25px;
	width: 467px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1249.focus-st #u1252-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 25px;
	width: 467px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1249.non-empty-st #u1252-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1249:hover #u1252-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1249.focus-st #u1252-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1249_input,#widgetu1249_prompt
{
	width: 467px;
	min-height: 25px;
	color: #000000;
	font-family: lato, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	padding: 6px;
}

#widgetu1253
{
	z-index: 96;
	width: 481px;
	height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: -1px;
}

#widgetu1253.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 481px;
	height: 39px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u1255-4
{
	z-index: 97;
	width: 467px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #784D7B;
	background-color: transparent;
	padding: 6px;
	line-height: 16px;
	font-size: 16px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu1253.non-empty-st #u1255-4
{
	background-color: #FFFFFF;
}

#widgetu1253:hover #u1255-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 25px;
	width: 467px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1253.focus-st #u1255-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 25px;
	width: 467px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1253.non-empty-st #u1255-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1253:hover #u1255-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1253.focus-st #u1255-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u1260-4
{
	z-index: 101;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 39px;
}

#widgetu1244.frm-sub-st #u1260-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1258-4
{
	z-index: 105;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 39px;
}

#widgetu1244.frm-subm-err-st #u1258-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1257-4
{
	z-index: 109;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 39px;
}

#widgetu1244.frm-sub-st #u1260-4,#widgetu1244.frm-subm-err-st #u1258-4,#widgetu1244.frm-subm-ok-st #u1257-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu1244.frm-subm-ok-st #u1257-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1259-17
{
	z-index: 113;
	min-height: 41px;
	width: 152px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 164px;
	background: url("../images/u1259-17.png") no-repeat 0px 0px;
}

#u1259-17:hover
{
	background: url("../images/u1259-17-r.png") no-repeat 0px 0px;
}

#u1259-17:active
{
	background: url("../images/u1259-17-m.png") no-repeat 0px 0px;
}

#widgetu1244.frm-sub-st #u1259-17
{
	background: url("../images/u1259-17-fs.png") no-repeat 0px 0px;
}

#widgetu1245
{
	z-index: 130;
	width: 481px;
	height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: -1px;
}

#widgetu1245.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 481px;
	height: 39px;
	min-height: 0px;
	margin: 118px -10000px 0px 0px;
}

#u1247-4
{
	z-index: 131;
	width: 467px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #784D7B;
	background-color: transparent;
	padding: 6px;
	line-height: 16px;
	font-size: 16px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu1245.non-empty-st #u1247-4
{
	background-color: #FFFFFF;
}

#widgetu1245:hover #u1247-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 25px;
	width: 467px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1245.focus-st #u1247-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 25px;
	width: 467px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1249.fld-err-st #u1252-4,#widgetu1253.fld-err-st #u1255-4,#widgetu1245.fld-err-st #u1247-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 25px;
	width: 467px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1245.non-empty-st #u1247-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1245:hover #u1247-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1245.focus-st #u1247-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1249.fld-err-st #u1252-4 *,#widgetu1253.fld-err-st #u1255-4 *,#widgetu1245.fld-err-st #u1247-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1253_input,#widgetu1253_prompt,#widgetu1245_input,#widgetu1245_prompt
{
	width: 467px;
	min-height: 25px;
	color: #000000;
	font-family: lato, sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
}

#widgetu1249:hover #widgetu1249_input,#widgetu1249.focus-st #widgetu1249_input,#widgetu1249.fld-err-st #widgetu1249_input,#widgetu1249:hover #widgetu1249_prompt,#widgetu1249.focus-st #widgetu1249_prompt,#widgetu1249.fld-err-st #widgetu1249_prompt,#widgetu1253:hover #widgetu1253_input,#widgetu1253.focus-st #widgetu1253_input,#widgetu1253.fld-err-st #widgetu1253_input,#widgetu1253:hover #widgetu1253_prompt,#widgetu1253.focus-st #widgetu1253_prompt,#widgetu1253.fld-err-st #widgetu1253_prompt,#widgetu1245:hover #widgetu1245_input,#widgetu1245.focus-st #widgetu1245_input,#widgetu1245.fld-err-st #widgetu1245_input,#widgetu1245:hover #widgetu1245_prompt,#widgetu1245.focus-st #widgetu1245_prompt,#widgetu1245.fld-err-st #widgetu1245_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu1249.non-empty-st #widgetu1249_prompt,#widgetu1253.non-empty-st #widgetu1253_prompt,#widgetu1245.non-empty-st #widgetu1245_prompt
{
	visibility: hidden;
}

#ppu1645
{
	width: 0.01px;
	margin-left: -65px;
	margin-top: -149px;
}

#pu1645
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
}

#u1645
{
	z-index: 194;
	width: 26px;
	background-color: transparent;
	position: relative;
}

#u1647
{
	z-index: 196;
	width: 26px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u1649-6
{
	z-index: 198;
	width: 127px;
	min-height: 49px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #1D6BA6;
	font-family: cabin, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 34px;
}

#u1650-4
{
	z-index: 204;
	width: 165px;
	min-height: 28px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #1D6BA6;
	font-family: cabin, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 34px;
}

#u1651
{
	z-index: 208;
	width: 1px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 179px;
}

#u1653-8
{
	z-index: 210;
	width: 224px;
	min-height: 79px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: cabin, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 236px;
}

#pu1191
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -33px;
}

#u1191
{
	z-index: 89;
	min-height: 817px;
	padding-bottom: 30px;
	background: transparent url("../images/cocinas_industriales_56.png") no-repeat center center;
	background-size: cover;
}

#u1191_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	position: relative;
	left: -100px;
}

#pu1275
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 35px;
}

#u1275
{
	z-index: 145;
	width: 26px;
	background-color: transparent;
	position: relative;
}

#u1281
{
	z-index: 147;
	width: 26px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#pu1312-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 69px;
}

#u1312-4
{
	z-index: 180;
	width: 165px;
	min-height: 28px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #1D6BA6;
	font-family: cabin, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1311-6
{
	z-index: 174;
	width: 127px;
	min-height: 49px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #1D6BA6;
	font-family: cabin, sans-serif;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
}

#u1319-8
{
	z-index: 186;
	width: 224px;
	min-height: 79px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 20px;
	font-family: cabin, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 271px;
}

#u1269
{
	z-index: 143;
	width: 75px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 720px;
	left: 560px;
}

#pu1291-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 709px;
	margin-left: 653px;
}

#u1291-6
{
	z-index: 149;
	display: block;
	vertical-align: top;
	position: relative;
}

#pu1298
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 17px;
}

#u1298
{
	z-index: 155;
	width: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1300-4
{
	z-index: 157;
	width: 239px;
	min-height: 28px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	font-family: cabin, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#u1191-bw
{
	z-index: 89;
	min-height: 817px;
	margin-top: 15px;
}

#u1301-6
{
	z-index: 161;
	width: 239px;
	min-height: 42px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	font-family: cabin, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 773px;
	left: 686px;
}

#u1301
{
	font-size: 1px;
	line-height: 0px;
}

#u127,#u1302
{
	margin-top: 6px;
	margin-bottom: -6px;
}

#u1303-4
{
	z-index: 167;
	width: 235px;
	min-height: 28px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	font-family: cabin, sans-serif;
	font-weight: 400;
}

#u1304
{
	z-index: 172;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 778px;
	left: 654px;
}

#u1313
{
	z-index: 184;
	width: 1px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 214px;
}

#u2291
{
	z-index: 218;
	min-height: 583px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u2291-bw
{
	z-index: 218;
	min-height: 583px;
	margin-top: 111px;
}

#pu265
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 112px;
}

#u265
{
	z-index: 48;
	min-height: 317.85000000000036px;
	padding-bottom: 0px;
}

#u104_align_to_page,#u265_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	left: -100px;
}

#u265_position_content
{
	margin-top: -73px;
}

#u313
{
	z-index: 70;
	width: 246px;
	left: 3px;
}

#u334
{
	z-index: 72;
	width: 182px;
	left: 370px;
	margin-top: 48px;
}

#u334:hover
{
	width: 182px;
	min-height: 0px;
	margin: 48px 0px 0px;
}

#pu2262
{
	width: 0.01px;
	left: 271px;
	margin-top: 64px;
	position: relative;
}

#u2262
{
	z-index: 86;
	width: 35px;
	height: 39px;
	margin-right: -10000px;
}

#u2262:hover
{
	width: 35px;
	height: 39px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2258
{
	z-index: 85;
	width: 19px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 60px;
}

#u2258:hover
{
	width: 19px;
	height: 35px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#u2254
{
	z-index: 84;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 103px;
}

#u2254:hover
{
	width: 34px;
	height: 34px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#pu282-4
{
	width: 0.01px;
	left: 74px;
	margin-top: 37px;
	position: relative;
}

#u282-4
{
	z-index: 62;
	width: 166px;
	min-height: 25px;
	margin-right: -10000px;
}

#u289
{
	z-index: 68;
	width: 26px;
	margin-right: -10000px;
	left: 176px;
}

#u274-5
{
	z-index: 57;
	width: 251px;
	min-height: 25px;
	margin-right: -10000px;
	left: 202px;
}

#u272-4
{
	z-index: 49;
	width: 445px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 477px;
}

#u265-bw
{
	z-index: 48;
	min-height: 317.85000000000036px;
}

#u283
{
	z-index: 66;
	width: 26px;
	margin-right: -10000px;
	margin-top: 292px;
	left: 52px;
}

#u340
{
	z-index: 74;
	width: 182px;
	margin-right: -10000px;
	margin-top: 144px;
	left: 391px;
}

#u340:hover
{
	width: 182px;
	min-height: 0px;
	margin: 144px -10000px 0px 0px;
}

#u346
{
	z-index: 76;
	width: 182px;
	margin-right: -10000px;
	margin-top: 170px;
	left: 410px;
}

#u346:hover
{
	width: 182px;
	min-height: 0px;
	margin: 170px -10000px 0px 0px;
}

#u352
{
	z-index: 78;
	width: 182px;
	margin-right: -10000px;
	margin-top: 197px;
	left: 432px;
}

#u352:hover
{
	width: 182px;
	min-height: 0px;
	margin: 197px -10000px 0px 0px;
}

#u358
{
	z-index: 80;
	width: 182px;
	margin-right: -10000px;
	margin-top: 224px;
	left: 451px;
}

#u358:hover
{
	width: 182px;
	min-height: 0px;
	margin: 224px -10000px 0px 0px;
}

#u328
{
	z-index: 82;
	width: 182px;
	margin-right: -10000px;
	margin-top: 99px;
	left: 358px;
}

#u328:hover
{
	width: 182px;
	min-height: 0px;
	margin: 99px -10000px 0px 0px;
}

#u273-4
{
	z-index: 53;
	width: 445px;
	min-height: 25px;
	margin-left: 451px;
	top: -2px;
	margin-bottom: -2px;
}

body
{
	position: relative;
	min-width: 800px;
}

#page .verticalspacer
{
	clear: both;
}

