.version.detalle /* version checker */
{
	color: #00001B;
	background-color: #166AE5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 1776px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 16px;
	width: 0.01px;
}

#pu239
{
	width: 0.01px;
	margin-left: -100px;
}

#u239
{
	z-index: 2;
	width: 602px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 398px;
}

#pu134
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 15px;
}

#u134
{
	z-index: 24;
	width: 24px;
}

#u117
{
	z-index: 5;
	width: 22px;
	margin-top: 2px;
}

#u123-4
{
	z-index: 7;
	width: 239px;
	min-height: 28px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 47px;
}

#u128
{
	z-index: 22;
	width: 36px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 864px;
}

#u2250
{
	z-index: 47;
	width: 18px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 922px;
}

#u2250:hover
{
	width: 18px;
	height: 35px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u2246
{
	z-index: 46;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 961px;
}

#u2246:hover
{
	width: 34px;
	height: 34px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u104,#u104-bw
{
	z-index: 4;
	min-height: 58px;
}

#u125-6
{
	z-index: 11;
	width: 239px;
	min-height: 42px;
	margin-right: -10000px;
	left: 47px;
}

#u127
{
	margin-top: 6px;
	margin-bottom: -6px;
}

#u126-4
{
	z-index: 17;
	width: 235px;
	min-height: 28px;
}

#u167
{
	z-index: 26;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 382px;
}

#u173
{
	z-index: 28;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 464px;
}

#u179
{
	z-index: 30;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 564px;
}

#u185
{
	z-index: 32;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 679px;
}

#u191
{
	z-index: 34;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 792px;
}

#u197
{
	z-index: 36;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 882px;
}

#u167:hover,#u173:hover,#u179:hover,#u185:hover,#u191:hover,#u197:hover
{
	width: 130px;
	min-height: 0px;
	margin: 72px -10000px 0px 0px;
}

#u233
{
	z-index: 38;
	width: 190px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 112px;
}

#u252
{
	z-index: 40;
	width: 80px;
	margin-right: -10000px;
	margin-top: 129px;
	left: 909px;
}

#u1323-4
{
	z-index: 42;
	width: 373px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 155px;
	left: 519px;
}

#pu2312
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 5px;
}

#u2312
{
	z-index: 209;
	height: 58px;
	background: transparent url("../images/cocinas_industriales_111.png") no-repeat center center;
	background-size: cover;
}

#u2312-bw
{
	z-index: 209;
	height: 58px;
}

#u2313
{
	z-index: 210;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 98px;
}

#u2315
{
	z-index: 212;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 234px;
}

#u2317
{
	z-index: 214;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 367px;
}

#u2319
{
	z-index: 216;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 499px;
}

#u2321
{
	z-index: 218;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 634px;
}

#u2323
{
	z-index: 220;
	width: 115px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 768px;
}

#pppu1741
{
	width: 0.01px;
	margin-left: -94px;
	margin-top: 103px;
}

#ppu1741
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 503px;
}

#u1741
{
	z-index: 89;
	width: 489px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1806-4
{
	z-index: 111;
	width: 231px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 14px;
}

#pu1741,#pu1747
{
	width: 0.01px;
	margin-left: 1px;
}

#u1747
{
	z-index: 91;
	width: 489px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1807-4
{
	z-index: 115;
	width: 231px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 14px;
}

#u1814-19
{
	z-index: 143;
	width: 471px;
	min-height: 268px;
	background-color: transparent;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 9px;
	margin-top: 14px;
	position: relative;
}

#u1753
{
	z-index: 93;
	width: 490px;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#pppu1759
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 7px;
}

#ppu1759
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1759
{
	z-index: 95;
	width: 328px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1789
{
	z-index: 105;
	width: 6px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u1808-4
{
	z-index: 119;
	width: 81px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 14px;
}

#u1811-4
{
	z-index: 131;
	width: 96px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 131px;
}

#u1771
{
	z-index: 99;
	width: 328px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1800
{
	z-index: 107;
	width: 6px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u1809-4
{
	z-index: 123;
	width: 81px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 14px;
}

#u1812-4
{
	z-index: 135;
	width: 170px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 131px;
}

#pu1759,#pu1771,#pu1777
{
	width: 0.01px;
}

#u1777
{
	z-index: 101;
	width: 328px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1803
{
	z-index: 109;
	width: 6px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u1810-4
{
	z-index: 127;
	width: 96px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 14px;
}

#pu1783
{
	width: 0.01px;
	margin-top: 4px;
}

#u1783
{
	z-index: 103;
	width: 328px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1813-4
{
	z-index: 139;
	width: 197px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 70px;
}

#pu1765
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 330px;
}

#u1765
{
	z-index: 97;
	width: 156px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1905-4
{
	z-index: 205;
	width: 146px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 3px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 3px;
}

#u1735
{
	z-index: 87;
	width: 495px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#slideshowu1829
{
	z-index: 189;
	width: 0.01px;
	height: 511px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 7px;
}

#u1841
{
	position: absolute;
	width: 480px;
	height: 468px;
	background-color: transparent;
}

#u1841popup
{
	z-index: 190;
}

#u1846
{
	z-index: 191;
	width: 480px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1882
{
	z-index: 193;
	width: 480px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1896
{
	z-index: 195;
	width: 480px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1846_img,#u1882_img,#u1896_img
{
	padding: 35px 103px 34px 104px;
}

#u1833-4
{
	position: absolute;
	width: 51px;
	min-height: 53px;
	border-style: none;
	border-color: transparent;
	background-color: #3C80CE;
	border-radius: 44px;
	padding: 10px;
	line-height: 53px;
	text-align: center;
	font-size: 38px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 438px;
	left: 159px;
}

#u1833-4popup
{
	z-index: 197;
}

#u1854-4
{
	position: absolute;
	width: 51px;
	min-height: 53px;
	border-style: none;
	border-color: transparent;
	background-color: #3C80CE;
	border-radius: 44px;
	padding: 10px;
	line-height: 53px;
	text-align: center;
	font-size: 38px;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 438px;
	left: 248px;
}

#u1854-4popup
{
	z-index: 201;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1815
{
	z-index: 162;
	width: 986px;
	background-color: transparent;
	left: -93px;
	margin-top: 55px;
	position: relative;
}

#pu1821
{
	width: 0.01px;
	margin-left: -94px;
	margin-top: 11px;
}

#u1821
{
	z-index: 164;
	width: 489px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1828-4
{
	z-index: 185;
	width: 342px;
	min-height: 32px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#u1827-19
{
	z-index: 166;
	width: 961px;
	min-height: 180px;
	background-color: transparent;
	font-family: lato, sans-serif;
	font-weight: 400;
	left: -94px;
	margin-top: 11px;
	position: relative;
}

#u1814-17,#u1827-17
{
	font-size: 24px;
	color: #FFFFFF;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1814-2,#u1814-4,#u1814-6,#u1814-8,#u1814-10,#u1814-12,#u1814-14,#u1814-15,#u1827-2,#u1827-4,#u1827-6,#u1827-8,#u1827-10,#u1827-12,#u1827-14,#u1827-15
{
	font-size: 16px;
	line-height: 19px;
	color: #7F7F7F;
}

#u1814-16,#u1827-16
{
	line-height: 29px;
}

#pu265
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 124px;
}

#u265
{
	z-index: 48;
	min-height: 317.85000000000036px;
	padding-bottom: 0px;
}

#u104_align_to_page,#u265_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	left: -100px;
}

#u265_position_content
{
	margin-top: -73px;
}

#u313
{
	z-index: 70;
	width: 246px;
	left: 3px;
}

#u334
{
	z-index: 72;
	width: 182px;
	left: 370px;
	margin-top: 48px;
}

#u334:hover
{
	width: 182px;
	min-height: 0px;
	margin: 48px 0px 0px;
}

#pu2262
{
	width: 0.01px;
	left: 271px;
	margin-top: 64px;
	position: relative;
}

#u2262
{
	z-index: 86;
	width: 35px;
	height: 39px;
	margin-right: -10000px;
}

#u2262:hover
{
	width: 35px;
	height: 39px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2258
{
	z-index: 85;
	width: 19px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 60px;
}

#u2258:hover
{
	width: 19px;
	height: 35px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#u2254
{
	z-index: 84;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 103px;
}

#u2254:hover
{
	width: 34px;
	height: 34px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#pu282-4
{
	width: 0.01px;
	left: 74px;
	margin-top: 37px;
	position: relative;
}

#u282-4
{
	z-index: 62;
	width: 166px;
	min-height: 25px;
	margin-right: -10000px;
}

#u289
{
	z-index: 68;
	width: 26px;
	margin-right: -10000px;
	left: 176px;
}

#u274-5
{
	z-index: 57;
	width: 251px;
	min-height: 25px;
	margin-right: -10000px;
	left: 202px;
}

#u272-4
{
	z-index: 49;
	width: 445px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 477px;
}

#u265-bw
{
	z-index: 48;
	min-height: 317.85000000000036px;
}

#u283
{
	z-index: 66;
	width: 26px;
	margin-right: -10000px;
	margin-top: 292px;
	left: 52px;
}

#u340
{
	z-index: 74;
	width: 182px;
	margin-right: -10000px;
	margin-top: 144px;
	left: 391px;
}

#u340:hover
{
	width: 182px;
	min-height: 0px;
	margin: 144px -10000px 0px 0px;
}

#u346
{
	z-index: 76;
	width: 182px;
	margin-right: -10000px;
	margin-top: 170px;
	left: 410px;
}

#u346:hover
{
	width: 182px;
	min-height: 0px;
	margin: 170px -10000px 0px 0px;
}

#u352
{
	z-index: 78;
	width: 182px;
	margin-right: -10000px;
	margin-top: 197px;
	left: 432px;
}

#u352:hover
{
	width: 182px;
	min-height: 0px;
	margin: 197px -10000px 0px 0px;
}

#u358
{
	z-index: 80;
	width: 182px;
	margin-right: -10000px;
	margin-top: 224px;
	left: 451px;
}

#u358:hover
{
	width: 182px;
	min-height: 0px;
	margin: 224px -10000px 0px 0px;
}

#u328
{
	z-index: 82;
	width: 182px;
	margin-right: -10000px;
	margin-top: 99px;
	left: 358px;
}

#u328:hover
{
	width: 182px;
	min-height: 0px;
	margin: 99px -10000px 0px 0px;
}

#u273-4
{
	z-index: 53;
	width: 445px;
	min-height: 25px;
	margin-left: 451px;
	top: -2px;
	margin-bottom: -2px;
}

body
{
	position: relative;
	min-width: 800px;
}

#page .verticalspacer
{
	clear: both;
}

