#u125-6
{
	font-family: lato-n3, sans-serif;
}

#u1323-4
{
	font-family: lato-n4, sans-serif;
}

#u123-4,#u126-4,#u282-4,#u274-5,#u272-4,#u273-4
{
	font-family: cabin-n4, sans-serif;
}

#u1520-2
{
	font-family: lato-n9, sans-serif;
}

#u739-4,#u1520-5,#u741-4
{
	font-family: lato-n4, sans-serif;
}

#u740-4,#u743-6,#u1523-4,#u742-4
{
	font-family: cabin-n4, sans-serif;
}

