#u125-6
{
	font-family: lato-n3, sans-serif;
}

#u1323-4
{
	font-family: lato-n4, sans-serif;
}

#u123-4,#u126-4,#u282-4,#u274-5,#u272-4,#u273-4
{
	font-family: cabin-n4, sans-serif;
}

#u1164-4,#u1622-4,#u1623-4
{
	font-family: cabin-n4, sans-serif;
}

#u1127-6,#u1128-4,#u1621-4,#u1639-4,#u1640-4,#u1643-4
{
	font-family: lato-n4, sans-serif;
}

#u1644-4
{
	font-family: lato-n3, sans-serif;
}

