#u125-6
{
	font-family: lato-n3, sans-serif;
}

#u1323-4
{
	font-family: lato-n4, sans-serif;
}

#u123-4,#u126-4,#u282-4,#u274-5,#u272-4,#u273-4
{
	font-family: cabin-n4, sans-serif;
}

#u518-2
{
	font-family: cabin-n5, sans-serif;
}

#u518-3,#u518-4,#u518-6,#u518-8,#u645-4
{
	font-family: cabin-n4, sans-serif;
}

#u681-4
{
	font-family: lato-n4, sans-serif;
}

#u676-4
{
	font-family: lato-n4, sans-serif;
}

#u685-4
{
	font-family: lato-n4, sans-serif;
}

#widgetu678_input,#widgetu678_prompt,#widgetu674_input,#widgetu674_prompt,#widgetu683_input,#widgetu683_prompt
{
	font-family: lato, sans-serif;
}

#u1414-4,#u1416-4,#u1467-4,#u1468-4,#u1471-4,#u1472-4,#u1473-4
{
	font-family: actor-n4, sans-serif;
}

#u690-4
{
	font-family: lato-n4, sans-serif;
}

