#u125-6
{
	font-family: lato-n3, sans-serif;
}

#u1323-4
{
	font-family: lato-n4, sans-serif;
}

#u123-4,#u126-4,#u282-4,#u274-5,#u272-4,#u273-4
{
	font-family: cabin-n4, sans-serif;
}

#u1905-4
{
	font-family: lato-n3, sans-serif;
}

#u1806-4,#u1807-4,#u1814-19,#u1808-4,#u1811-4,#u1809-4,#u1812-4,#u1810-4,#u1813-4,#u1828-4,#u1827-19
{
	font-family: lato-n4, sans-serif;
}

