.version.index /* version checker */
{
	color: #0000F0;
	background-color: #7C4601;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 2967px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 16px;
	width: 0.01px;
}

#pu239
{
	width: 0.01px;
	margin-left: -100px;
}

#u239
{
	z-index: 2;
	width: 602px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 398px;
}

#pu134
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 15px;
}

#u134
{
	z-index: 24;
	width: 24px;
}

#u117
{
	z-index: 5;
	width: 22px;
	margin-top: 2px;
}

#u123-4
{
	z-index: 7;
	width: 239px;
	min-height: 28px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 47px;
}

#u128
{
	z-index: 22;
	width: 36px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 864px;
}

#u2250
{
	z-index: 47;
	width: 18px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 922px;
}

#u2250:hover
{
	width: 18px;
	height: 35px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u2246
{
	z-index: 46;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 961px;
}

#u2246:hover
{
	width: 34px;
	height: 34px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u104,#u104-bw
{
	z-index: 4;
	min-height: 58px;
}

#u125-6
{
	z-index: 11;
	width: 239px;
	min-height: 42px;
	margin-right: -10000px;
	left: 47px;
}

#u127
{
	margin-top: 6px;
	margin-bottom: -6px;
}

#u126-4
{
	z-index: 17;
	width: 235px;
	min-height: 28px;
}

#u167
{
	z-index: 26;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 382px;
}

#u173
{
	z-index: 28;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 464px;
}

#u179
{
	z-index: 30;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 564px;
}

#u185
{
	z-index: 32;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 679px;
}

#u191
{
	z-index: 34;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 792px;
}

#u197
{
	z-index: 36;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 882px;
}

#u167:hover,#u173:hover,#u179:hover,#u185:hover,#u191:hover,#u197:hover
{
	width: 130px;
	min-height: 0px;
	margin: 72px -10000px 0px 0px;
}

#u233
{
	z-index: 38;
	width: 190px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 112px;
}

#u252
{
	z-index: 40;
	width: 80px;
	margin-right: -10000px;
	margin-top: 129px;
	left: 909px;
}

#u1323-4
{
	z-index: 42;
	width: 373px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 155px;
	left: 519px;
}

#slideshowu405
{
	z-index: 89;
	width: 0.01px;
	height: 461px;
	left: -100px;
	margin-top: 5px;
	position: relative;
}

#u416
{
	position: absolute;
	width: 1000px;
	height: 461px;
	background-color: transparent;
}

#u416popup
{
	z-index: 90;
}

#u417
{
	z-index: 91;
	width: 1000px;
	height: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1385
{
	z-index: 93;
	width: 1000px;
	height: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1399
{
	z-index: 95;
	width: 1000px;
	height: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu461
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: -74px;
}

#u461
{
	z-index: 97;
	width: 334px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 231px;
}

#u518-10
{
	z-index: 99;
	width: 255px;
	min-height: 263px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 612px;
}

#u518-2
{
	font-size: 19px;
	line-height: 23px;
	font-family: cabin, sans-serif;
	font-weight: 500;
}

#u518-3,#u518-4,#u518-6,#u518-8
{
	font-size: 16px;
	line-height: 19px;
	font-family: cabin, sans-serif;
	font-weight: 400;
}

#u521
{
	z-index: 109;
	width: 4px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 590px;
}

#u527
{
	z-index: 111;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 485px;
	left: 590px;
}

#u1408
{
	z-index: 208;
	width: 424px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 455px;
}

#u1414-4
{
	z-index: 210;
	width: 218px;
	min-height: 24px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	letter-spacing: 2px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 602px;
}

#u1416-4
{
	z-index: 214;
	width: 390px;
	min-height: 28px;
	background-color: transparent;
	line-height: 26px;
	text-align: center;
	font-size: 22px;
	letter-spacing: 3px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 478px;
}

#u2194
{
	z-index: 240;
	width: 165px;
	height: 165px;
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	background: transparent url("../images/cocinas_industriales_6.jpg") no-repeat center center;
}

#u2194:hover
{
	width: 165px;
	height: 165px;
	min-height: 0px;
	margin: 344px -10000px 0px 0px;
	background: transparent url("../images/roll2.jpg") no-repeat center center;
}

#u2199
{
	z-index: 241;
	width: 165px;
	height: 165px;
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: 200px;
	background: transparent url("../images/cocinas_industriales_7.jpg") no-repeat center center;
}

#u2199:hover
{
	width: 165px;
	height: 165px;
	min-height: 0px;
	margin: 344px -10000px 0px 0px;
	background: transparent url("../images/roll3.jpg") no-repeat center center;
}

#u2202
{
	z-index: 244;
	width: 165px;
	height: 165px;
	position: relative;
	margin-right: -10000px;
	margin-top: 344px;
	left: 398px;
	background: transparent url("../images/cocinas_industriales_8.jpg") no-repeat left top;
}

#u2202:hover
{
	width: 165px;
	height: 165px;
	min-height: 0px;
	margin: 344px -10000px 0px 0px;
	background: transparent url("../images/roll4.jpg") no-repeat center center;
}

#pu2201
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 15px;
}

#u2201
{
	z-index: 243;
	width: 165px;
	height: 165px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/cocinas_industriales_9.jpg") no-repeat left top;
}

#u2201:hover
{
	width: 165px;
	height: 165px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/roll1.jpg") no-repeat center center;
}

#u2200
{
	z-index: 242;
	width: 165px;
	height: 165px;
	position: relative;
	margin-right: -10000px;
	left: 198px;
	background: transparent url("../images/cocinas_industriales_10.jpg") no-repeat left top;
}

#u2200:hover
{
	width: 165px;
	height: 165px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/roll6.jpg") no-repeat left top;
}

#u2203
{
	z-index: 245;
	width: 165px;
	height: 165px;
	position: relative;
	margin-right: -10000px;
	left: 396px;
	background: transparent url("../images/cocinas_industriales_11.jpg") no-repeat left top;
}

#u2203:hover
{
	width: 165px;
	height: 165px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../images/roll5.jpg") no-repeat center center;
}

#slideshowu540
{
	z-index: 113;
	width: 0.01px;
	height: 80px;
	left: -77px;
	margin-top: 52px;
	position: relative;
}

#u551
{
	position: absolute;
	width: 454px;
	height: 80px;
	background-color: transparent;
}

#u551popup
{
	z-index: 114;
}

#u552
{
	z-index: 115;
	width: 454px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1424
{
	z-index: 117;
	width: 454px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1438
{
	z-index: 119;
	width: 454px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1452
{
	z-index: 121;
	width: 454px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u593
{
	z-index: 123;
	width: 454px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u552_img,#u1424_img,#u1438_img,#u1452_img,#u593_img
{
	padding-top: 13px;
	padding-bottom: 12px;
}

#pu615
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-left: -8px;
	margin-top: 58px;
}

#u615
{
	z-index: 125;
	width: 305px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u621
{
	z-index: 127;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 109px;
}

#u628-6
{
	z-index: 129;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 40px;
}

#u629-4
{
	z-index: 135;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 197px;
	left: 8px;
}

#u631
{
	z-index: 139;
	width: 86px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 425px;
	left: 110px;
}

#u637-4
{
	z-index: 141;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 516px;
	left: 40px;
}

#u638-4
{
	z-index: 145;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 552px;
	left: 13px;
}

#u639
{
	z-index: 149;
	width: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 592px;
	left: 8px;
}

#u645-4
{
	z-index: 151;
	width: 204px;
	min-height: 27px;
	background-color: transparent;
	line-height: 23px;
	text-align: left;
	font-size: 19px;
	color: #FFFFFF;
	font-family: cabin, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 592px;
	left: 51px;
}

#widgetu665
{
	z-index: 159;
	width: 0.01px;
	height: 219px;
	position: relative;
	margin-right: -10000px;
	margin-top: 524px;
	left: 418px;
}

#widgetu678
{
	z-index: 160;
	width: 481px;
	height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#widgetu678.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 481px;
	height: 39px;
	min-height: 0px;
	margin: -1px -10000px 0px 0px;
}

#u681-4
{
	z-index: 161;
	width: 467px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #784D7B;
	background-color: transparent;
	padding: 6px;
	line-height: 16px;
	font-size: 16px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu678.non-empty-st #u681-4
{
	background-color: #FFFFFF;
}

#widgetu678:hover #u681-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 25px;
	width: 467px;
	margin: 0px -10000px 0px 0px;
}

#widgetu678.focus-st #u681-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 25px;
	width: 467px;
	margin: 0px -10000px 0px 0px;
}

#widgetu678.non-empty-st #u681-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu678:hover #u681-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu678.focus-st #u681-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu678_input,#widgetu678_prompt
{
	width: 467px;
	min-height: 25px;
	color: #000000;
	font-family: lato, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	padding: 6px;
}

#widgetu674
{
	z-index: 165;
	width: 481px;
	height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: -1px;
}

#widgetu674.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 481px;
	height: 39px;
	min-height: 0px;
	margin: 59px -10000px 0px 0px;
}

#u676-4
{
	z-index: 166;
	width: 467px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #784D7B;
	background-color: transparent;
	padding: 6px;
	line-height: 16px;
	font-size: 16px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu674.non-empty-st #u676-4
{
	background-color: #FFFFFF;
}

#widgetu674:hover #u676-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 25px;
	width: 467px;
	margin: 0px -10000px 0px 0px;
}

#widgetu674.focus-st #u676-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 25px;
	width: 467px;
	margin: 0px -10000px 0px 0px;
}

#widgetu674.non-empty-st #u676-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu674:hover #u676-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu674.focus-st #u676-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u666-4
{
	z-index: 170;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 39px;
}

#widgetu665.frm-sub-st #u666-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u672-4
{
	z-index: 174;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 39px;
}

#widgetu665.frm-subm-err-st #u672-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u667-4
{
	z-index: 178;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 39px;
}

#widgetu665.frm-sub-st #u666-4,#widgetu665.frm-subm-err-st #u672-4,#widgetu665.frm-subm-ok-st #u667-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu665.frm-subm-ok-st #u667-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u673-17
{
	z-index: 182;
	min-height: 41px;
	width: 152px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 164px;
	background: url("../images/u673-17.png") no-repeat 0px 0px;
}

#u673-17:hover
{
	background: url("../images/u673-17-r.png") no-repeat 0px 0px;
}

#u673-17:active
{
	background: url("../images/u673-17-m.png") no-repeat 0px 0px;
}

#widgetu665.frm-sub-st #u673-17
{
	background: url("../images/u673-17-fs.png") no-repeat 0px 0px;
}

#widgetu683
{
	z-index: 199;
	width: 481px;
	height: 39px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: -1px;
}

#widgetu683.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 481px;
	height: 39px;
	min-height: 0px;
	margin: 118px -10000px 0px 0px;
}

#u685-4
{
	z-index: 200;
	width: 467px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #784D7B;
	background-color: transparent;
	padding: 6px;
	line-height: 16px;
	font-size: 16px;
	color: #000000;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#widgetu683.non-empty-st #u685-4
{
	background-color: #FFFFFF;
}

#widgetu683:hover #u685-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 25px;
	width: 467px;
	margin: 0px -10000px 0px 0px;
}

#widgetu683.focus-st #u685-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 25px;
	width: 467px;
	margin: 0px -10000px 0px 0px;
}

#widgetu678.fld-err-st #u681-4,#widgetu674.fld-err-st #u676-4,#widgetu683.fld-err-st #u685-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 25px;
	width: 467px;
	margin: 0px -10000px 0px 0px;
}

#widgetu683.non-empty-st #u685-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu683:hover #u685-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu683.focus-st #u685-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu678.fld-err-st #u681-4 *,#widgetu674.fld-err-st #u676-4 *,#widgetu683.fld-err-st #u685-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu674_input,#widgetu674_prompt,#widgetu683_input,#widgetu683_prompt
{
	width: 467px;
	min-height: 25px;
	color: #000000;
	font-family: lato, sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
}

#widgetu678:hover #widgetu678_input,#widgetu678.focus-st #widgetu678_input,#widgetu678.fld-err-st #widgetu678_input,#widgetu678:hover #widgetu678_prompt,#widgetu678.focus-st #widgetu678_prompt,#widgetu678.fld-err-st #widgetu678_prompt,#widgetu674:hover #widgetu674_input,#widgetu674.focus-st #widgetu674_input,#widgetu674.fld-err-st #widgetu674_input,#widgetu674:hover #widgetu674_prompt,#widgetu674.focus-st #widgetu674_prompt,#widgetu674.fld-err-st #widgetu674_prompt,#widgetu683:hover #widgetu683_input,#widgetu683.focus-st #widgetu683_input,#widgetu683.fld-err-st #widgetu683_input,#widgetu683:hover #widgetu683_prompt,#widgetu683.focus-st #widgetu683_prompt,#widgetu683.fld-err-st #widgetu683_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu678.non-empty-st #widgetu678_prompt,#widgetu674.non-empty-st #widgetu674_prompt,#widgetu683.non-empty-st #widgetu683_prompt
{
	visibility: hidden;
}

#u646
{
	z-index: 155;
	width: 83px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 440px;
	left: 618px;
}

#u652
{
	z-index: 157;
	width: 333px;
	background-color: transparent;
	margin-left: 234px;
	margin-top: 15px;
	position: relative;
}

#pu1461
{
	width: 0.01px;
	margin-left: -89px;
	margin-top: 42px;
}

#u1461
{
	z-index: 218;
	width: 978px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1467-4
{
	z-index: 220;
	width: 95px;
	min-height: 48px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 77px;
}

#u1468-4
{
	z-index: 224;
	width: 172px;
	min-height: 63px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 251px;
}

#u1471-4
{
	z-index: 228;
	width: 117px;
	min-height: 63px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 502px;
}

#u1472-4
{
	z-index: 232;
	width: 86px;
	min-height: 54px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 703px;
}

#u1473-4
{
	z-index: 236;
	width: 100px;
	min-height: 63px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0px;
	font-family: actor, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 872px;
}

#u690-4
{
	z-index: 204;
	width: 189px;
	min-height: 26px;
	border-width: 1px;
	border-style: solid;
	border-color: #99799C;
	background-color: #F1F1F1;
	padding-top: 5px;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 305px;
	margin-top: 21px;
	position: relative;
}

#pu533
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2029px;
}

#u533
{
	z-index: 87;
	height: 768px;
	background: transparent url("../images/cocinas_industriales_142.png") no-repeat center center;
	background-size: cover;
}

#u533-bw
{
	z-index: 87;
	margin-top: 636px;
	height: 768px;
}

#u327
{
	z-index: 88;
	height: 831px;
	background: transparent url("../images/cocinas_industriales_21.png") no-repeat center center;
	background-size: cover;
}

#u327-bw
{
	z-index: 88;
	height: 831px;
}

#pu265
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 107px;
}

#u265
{
	z-index: 48;
	min-height: 317.85000000000036px;
	padding-bottom: 0px;
}

#u104_align_to_page,#u265_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	left: -100px;
}

#u265_position_content
{
	margin-top: -73px;
}

#u313
{
	z-index: 70;
	width: 246px;
	left: 3px;
}

#u334
{
	z-index: 72;
	width: 182px;
	left: 370px;
	margin-top: 48px;
}

#u334:hover
{
	width: 182px;
	min-height: 0px;
	margin: 48px 0px 0px;
}

#pu2262
{
	width: 0.01px;
	left: 271px;
	margin-top: 64px;
	position: relative;
}

#u2262
{
	z-index: 86;
	width: 35px;
	height: 39px;
	margin-right: -10000px;
}

#u2262:hover
{
	width: 35px;
	height: 39px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2258
{
	z-index: 85;
	width: 19px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 60px;
}

#u2258:hover
{
	width: 19px;
	height: 35px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#u2254
{
	z-index: 84;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 103px;
}

#u2254:hover
{
	width: 34px;
	height: 34px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#pu282-4
{
	width: 0.01px;
	left: 74px;
	margin-top: 37px;
	position: relative;
}

#u282-4
{
	z-index: 62;
	width: 166px;
	min-height: 25px;
	margin-right: -10000px;
}

#u289
{
	z-index: 68;
	width: 26px;
	margin-right: -10000px;
	left: 176px;
}

#u274-5
{
	z-index: 57;
	width: 251px;
	min-height: 25px;
	margin-right: -10000px;
	left: 202px;
}

#u272-4
{
	z-index: 49;
	width: 445px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 477px;
}

#u265-bw
{
	z-index: 48;
	min-height: 317.85000000000036px;
}

#u283
{
	z-index: 66;
	width: 26px;
	margin-right: -10000px;
	margin-top: 292px;
	left: 52px;
}

#u340
{
	z-index: 74;
	width: 182px;
	margin-right: -10000px;
	margin-top: 144px;
	left: 391px;
}

#u340:hover
{
	width: 182px;
	min-height: 0px;
	margin: 144px -10000px 0px 0px;
}

#u346
{
	z-index: 76;
	width: 182px;
	margin-right: -10000px;
	margin-top: 170px;
	left: 410px;
}

#u346:hover
{
	width: 182px;
	min-height: 0px;
	margin: 170px -10000px 0px 0px;
}

#u352
{
	z-index: 78;
	width: 182px;
	margin-right: -10000px;
	margin-top: 197px;
	left: 432px;
}

#u352:hover
{
	width: 182px;
	min-height: 0px;
	margin: 197px -10000px 0px 0px;
}

#u358
{
	z-index: 80;
	width: 182px;
	margin-right: -10000px;
	margin-top: 224px;
	left: 451px;
}

#u358:hover
{
	width: 182px;
	min-height: 0px;
	margin: 224px -10000px 0px 0px;
}

#u328
{
	z-index: 82;
	width: 182px;
	margin-right: -10000px;
	margin-top: 99px;
	left: 358px;
}

#u328:hover
{
	width: 182px;
	min-height: 0px;
	margin: 99px -10000px 0px 0px;
}

#u273-4
{
	z-index: 53;
	width: 445px;
	min-height: 25px;
	margin-left: 451px;
	top: -2px;
	margin-bottom: -2px;
}

body
{
	position: relative;
	min-width: 800px;
}

#page .verticalspacer
{
	clear: both;
}

