#u104
{
	background: transparent url("../images/cocinas_industriales_2.png") no-repeat center center;
	background-size: cover;
}

#u123-4
{
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	color: #FFFFFF;
	font-family: cabin, sans-serif;
	font-weight: 400;
	position: relative;
}

#u2250
{
	position: relative;
	background: transparent url("../images/cocinas_industriales_14.png") no-repeat left top;
}

#u2250:hover
{
	background: transparent url("../images/1.png") no-repeat center center;
}

#u2246
{
	position: relative;
	background: transparent url("../images/cocinas_industriales_15.png") no-repeat center center;
}

#u2246:hover
{
	background: transparent url("../images/2.png") no-repeat center center;
}

#u125-6
{
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
}

#u125
{
	font-size: 1px;
	line-height: 0px;
}

#u126-4
{
	background-color: transparent;
	line-height: 20px;
	font-size: 17px;
	color: #FFFFFF;
	font-family: cabin, sans-serif;
	font-weight: 400;
}

#u239,#u134,#u117,#u128,#u167
{
	background-color: transparent;
	position: relative;
}

#u167:hover
{
	background: transparent url("../images/cocinas_industriales_5_1.png") no-repeat center center;
}

#u173
{
	background-color: transparent;
	position: relative;
}

#u173:hover
{
	background: transparent url("../images/cocinas_industriales_6_1.png") no-repeat center center;
}

#u179
{
	background-color: transparent;
	position: relative;
}

#u179:hover
{
	background: transparent url("../images/cocinas_industriales_7_1.png") no-repeat center center;
}

#u185
{
	background-color: transparent;
	position: relative;
}

#u185:hover
{
	background: transparent url("../images/cocinas_industriales_8_1.png") no-repeat center center;
}

#u191
{
	background-color: transparent;
	position: relative;
}

#u191:hover
{
	background: transparent url("../images/cocinas_industriales_9_1.png") no-repeat center center;
}

#u197
{
	background-color: transparent;
	position: relative;
}

#u197:hover
{
	background: transparent url("../images/cocinas_industriales_10_1.png") no-repeat center center;
}

#u1323-4
{
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
}

#u265
{
	background: transparent url("../images/cocinas_industriales_163.png") no-repeat center center;
	background-size: cover;
}

#u104_align_to_page,#u265_align_to_page
{
	position: relative;
}

#u233,#u252,#u313,#u334
{
	background-color: transparent;
	position: relative;
}

#u334:hover
{
	background: transparent url("../images/cocinas_industriales_24_1.png") no-repeat center center;
}

#u2262
{
	position: relative;
	background: transparent url("../images/cocinas_industriales_182.png") no-repeat left top;
}

#u2262:hover
{
	background: transparent url("../images/carr.png") no-repeat left top;
}

#u2258
{
	position: relative;
	background: transparent url("../images/cocinas_industriales_192.png") no-repeat left top;
}

#u2258:hover
{
	background: transparent url("../images/face.png") no-repeat center center;
}

#u2254
{
	position: relative;
	background: transparent url("../images/cocinas_industriales_20.png") no-repeat left top;
}

#u2254:hover
{
	background: transparent url("../images/inst.png") no-repeat left top;
}

#u282-4,#u274-5
{
	background-color: transparent;
	line-height: 23px;
	text-align: center;
	font-size: 19px;
	color: #32A2FB;
	font-family: cabin, sans-serif;
	font-weight: 400;
	position: relative;
}

#u274-2
{
	color: #33A2FB;
}

#u272-4
{
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #32A3FC;
	font-family: cabin, sans-serif;
	font-weight: 400;
	position: relative;
}

#u289,#u283,#u340
{
	background-color: transparent;
	position: relative;
}

#u340:hover
{
	background: transparent url("../images/cocinas_industriales_25_1.png") no-repeat left top;
}

#u346
{
	background-color: transparent;
	position: relative;
}

#u346:hover
{
	background: transparent url("../images/cocinas_industriales_26_1.png") no-repeat center center;
}

#u352
{
	background-color: transparent;
	position: relative;
}

#u352:hover
{
	background: transparent url("../images/cocinas_industriales_27_1.png") no-repeat center center;
}

#u358
{
	background-color: transparent;
	position: relative;
}

#u358:hover
{
	background: transparent url("../images/cocinas_industriales_28_1.png") no-repeat center center;
}

#u328
{
	background-color: transparent;
	position: relative;
}

#u328:hover
{
	background: transparent url("../images/cocinas_industriales_23_1.png") no-repeat center center;
}

#u273-4
{
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	color: #32A3FC;
	font-family: cabin, sans-serif;
	font-weight: 400;
	position: relative;
}

