.version.promociones /* version checker */
{
	color: #000016;
	background-color: #52C8C7;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 800px;
	min-height: 1630px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 16px;
	width: 0.01px;
}

#pu239
{
	width: 0.01px;
	margin-left: -100px;
}

#u239
{
	z-index: 2;
	width: 602px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 398px;
}

#pu134
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 15px;
}

#u134
{
	z-index: 24;
	width: 24px;
}

#u117
{
	z-index: 5;
	width: 22px;
	margin-top: 2px;
}

#u123-4
{
	z-index: 7;
	width: 239px;
	min-height: 28px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 47px;
}

#u128
{
	z-index: 22;
	width: 36px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 864px;
}

#u2250
{
	z-index: 47;
	width: 18px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 922px;
}

#u2250:hover
{
	width: 18px;
	height: 35px;
	min-height: 0px;
	margin: 14px -10000px 0px 0px;
}

#u2246
{
	z-index: 46;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 961px;
}

#u2246:hover
{
	width: 34px;
	height: 34px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u104,#u104-bw
{
	z-index: 4;
	min-height: 58px;
}

#u125-6
{
	z-index: 11;
	width: 239px;
	min-height: 42px;
	margin-right: -10000px;
	left: 47px;
}

#u127
{
	margin-top: 6px;
	margin-bottom: -6px;
}

#u126-4
{
	z-index: 17;
	width: 235px;
	min-height: 28px;
}

#u167
{
	z-index: 26;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 382px;
}

#u173
{
	z-index: 28;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 464px;
}

#u179
{
	z-index: 30;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 564px;
}

#u185
{
	z-index: 32;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 679px;
}

#u191
{
	z-index: 34;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 792px;
}

#u197
{
	z-index: 36;
	width: 130px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 882px;
}

#u167:hover,#u173:hover,#u179:hover,#u185:hover,#u191:hover,#u197:hover
{
	width: 130px;
	min-height: 0px;
	margin: 72px -10000px 0px 0px;
}

#u233
{
	z-index: 38;
	width: 190px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 112px;
}

#u252
{
	z-index: 40;
	width: 80px;
	margin-right: -10000px;
	margin-top: 129px;
	left: 909px;
}

#u1323-4
{
	z-index: 42;
	width: 373px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 155px;
	left: 519px;
}

#pu972
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 5px;
}

#u972
{
	z-index: 87;
	min-height: 281px;
	padding-bottom: 552px;
	background: transparent url("../images/cocinas_industriales_45.png") no-repeat center center;
	background-size: cover;
}

#u972_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	position: relative;
	left: -100px;
}

#u992
{
	z-index: 88;
	width: 215px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 7px;
}

#u1001
{
	z-index: 94;
	width: 215px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 267px;
}

#u1010
{
	z-index: 100;
	width: 215px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 520px;
}

#u1019
{
	z-index: 106;
	width: 215px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 773px;
}

#u972-bw
{
	z-index: 87;
	min-height: 281px;
}

#u994
{
	z-index: 90;
	width: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 160px;
}

#u996
{
	z-index: 92;
	width: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 191px;
}

#u1003
{
	z-index: 96;
	width: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 419px;
}

#u1005
{
	z-index: 98;
	width: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 450px;
}

#u1012
{
	z-index: 102;
	width: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 672px;
}

#u1014
{
	z-index: 104;
	width: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 239px;
	left: 703px;
}

#u1021
{
	z-index: 108;
	width: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 925px;
}

#u1023
{
	z-index: 110;
	width: 23px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 956px;
}

#pu265
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 241px;
}

#u265
{
	z-index: 48;
	min-height: 317.85000000000036px;
	padding-bottom: 0px;
}

#u104_align_to_page,#u265_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	left: -100px;
}

#u265_position_content
{
	margin-top: -73px;
}

#u313
{
	z-index: 70;
	width: 246px;
	left: 3px;
}

#u334
{
	z-index: 72;
	width: 182px;
	left: 370px;
	margin-top: 48px;
}

#u334:hover
{
	width: 182px;
	min-height: 0px;
	margin: 48px 0px 0px;
}

#pu2262
{
	width: 0.01px;
	left: 271px;
	margin-top: 64px;
	position: relative;
}

#u2262
{
	z-index: 86;
	width: 35px;
	height: 39px;
	margin-right: -10000px;
}

#u2262:hover
{
	width: 35px;
	height: 39px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2258
{
	z-index: 85;
	width: 19px;
	height: 35px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 60px;
}

#u2258:hover
{
	width: 19px;
	height: 35px;
	min-height: 0px;
	margin: 2px -10000px 0px 0px;
}

#u2254
{
	z-index: 84;
	width: 34px;
	height: 34px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 103px;
}

#u2254:hover
{
	width: 34px;
	height: 34px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#pu282-4
{
	width: 0.01px;
	left: 74px;
	margin-top: 37px;
	position: relative;
}

#u282-4
{
	z-index: 62;
	width: 166px;
	min-height: 25px;
	margin-right: -10000px;
}

#u289
{
	z-index: 68;
	width: 26px;
	margin-right: -10000px;
	left: 176px;
}

#u274-5
{
	z-index: 57;
	width: 251px;
	min-height: 25px;
	margin-right: -10000px;
	left: 202px;
}

#u272-4
{
	z-index: 49;
	width: 445px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 477px;
}

#u265-bw
{
	z-index: 48;
	min-height: 317.85000000000036px;
}

#u283
{
	z-index: 66;
	width: 26px;
	margin-right: -10000px;
	margin-top: 292px;
	left: 52px;
}

#u340
{
	z-index: 74;
	width: 182px;
	margin-right: -10000px;
	margin-top: 144px;
	left: 391px;
}

#u340:hover
{
	width: 182px;
	min-height: 0px;
	margin: 144px -10000px 0px 0px;
}

#u346
{
	z-index: 76;
	width: 182px;
	margin-right: -10000px;
	margin-top: 170px;
	left: 410px;
}

#u346:hover
{
	width: 182px;
	min-height: 0px;
	margin: 170px -10000px 0px 0px;
}

#u352
{
	z-index: 78;
	width: 182px;
	margin-right: -10000px;
	margin-top: 197px;
	left: 432px;
}

#u352:hover
{
	width: 182px;
	min-height: 0px;
	margin: 197px -10000px 0px 0px;
}

#u358
{
	z-index: 80;
	width: 182px;
	margin-right: -10000px;
	margin-top: 224px;
	left: 451px;
}

#u358:hover
{
	width: 182px;
	min-height: 0px;
	margin: 224px -10000px 0px 0px;
}

#u328
{
	z-index: 82;
	width: 182px;
	margin-right: -10000px;
	margin-top: 99px;
	left: 358px;
}

#u328:hover
{
	width: 182px;
	min-height: 0px;
	margin: 99px -10000px 0px 0px;
}

#u273-4
{
	z-index: 53;
	width: 445px;
	min-height: 25px;
	margin-left: 451px;
	top: -2px;
	margin-bottom: -2px;
}

body
{
	position: relative;
	min-width: 800px;
}

#page .verticalspacer
{
	clear: both;
}

